/* 
    Authors     : Perry Faro & Rick van der Wolk
*/

.ca, .cursor-auto { cursor: auto; }
.cc, .cursor-copy { cursor: copy; }
.cch, .cursor-crosshair { cursor: crosshair; }
.ccl, .cursor-cell { cursor: cell; }
.cd, .cursor-default { cursor: default; }
.cg, .cursor-grab { cursor: grab; }
.ch, .cursor-helper { cursor: helper; }
.cm, .cursor-move { cursor: move; }
.cn, .cursor-none { cursor: none; }
.cna, .cursor-not-allowed { cursor: not-allowed; }
.cp, .cursor-pointer { cursor: pointer; }
.ct, .cursor-text { cursor: text; }
.cw, .cursor-wait { cursor: wait; }
.czi, .cursor-zoom-in { cursor: zoom-in; }
.czo, .cursor-zoom-out { cursor: zoom-out; }