/* 
    Authors     : Perry Faro & Rick van der Wolk
*/

/* font-size */
.fs0 { font-size: 6px !important; }
.fs1 { font-size: 6px !important; }
.fs2 { font-size: 6px !important; }
.fs3 { font-size: 6px !important; }
.fs4 { font-size: 6px !important; }
.fs5 { font-size: 6px !important; }
.fs6 { font-size: 6px !important; }
.fs7 { font-size: 7px !important; }
.fs8 { font-size: 8px !important; }
.fs9 { font-size: 9px !important; }
.fs10 { font-size: 10px !important; }
.fs11 { font-size: 11px !important; }
.fs12 { font-size: 12px !important; }
.fs13 { font-size: 13px !important; }
.fs14 { font-size: 14px !important; }
.fs15 { font-size: 15px !important; }
.fs16 { font-size: 16px !important; }
.fs17 { font-size: 17px !important; }
.fs18 { font-size: 18px !important; }
.fs19 { font-size: 19px !important; }
.fs20 { font-size: 20px !important; }
.fs21 { font-size: 21px !important; }
.fs22 { font-size: 22px !important; }
.fs23 { font-size: 23px !important; }
.fs24 { font-size: 24px !important; }
.fs25 { font-size: 25px !important; }
.fs26 { font-size: 26px !important; }
.fs28 { font-size: 28px !important; }
.fs30 { font-size: 30px !important; }
.fs32 { font-size: 32px !important; }
.fs35 { font-size: 35px !important; }
.fs36 { font-size: 36px !important; }
.fs40 { font-size: 40px !important; }
.fs44 { font-size: 44px !important; }
.fs45 { font-size: 45px !important; }
.fs48 { font-size: 48px !important; }
.fs50 { font-size: 50px !important; }
.fs54 { font-size: 54px !important; }
.fs55 { font-size: 55px !important; }
.fs60 { font-size: 60px !important; }
.fs65 { font-size: 65px !important; }
.fs66 { font-size: 66px !important; }
.fs70 { font-size: 70px !important; }
.fs72 { font-size: 72px !important; }
.fs75 { font-size: 75px !important; }
.fs80 { font-size: 80px !important; }
.fs85 { font-size: 85px !important; }
.fs88 { font-size: 88px !important; }
.fs90 { font-size: 90px !important; }
.fs95 { font-size: 95px !important; }
.fs96 { font-size: 96px !important; }
.fs100 { font-size: 100px !important; }
.fs105 { font-size: 105px !important; }
.fs110 { font-size: 110px !important; }
.fs115 { font-size: 115px !important; }
.fs120 { font-size: 120px !important; }
.fs125 { font-size: 125px !important; }
.fs130 { font-size: 130px !important; }
.fs135 { font-size: 135px !important; }
.fs140 { font-size: 140px !important; }
.fs145 { font-size: 145px !important; }
.fs150 { font-size: 150px !important; }