/* 
    Authors     : Perry Faro & Rick van der Wolk
*/

.tac, .text-center, .text-align-center { text-align: center; }
.tal, .text-left, .text-align-left { text-align: left; }
.tb, .bold, .text-bold { font-weight: bold; }
.tba, .break-all, .text-break-all { word-break: break-all; } 
.tbw, .break-word, .text-break-word { word-wrap: break-word; }
.tc, .capital, .text-capital { text-transform: capitalize; }
.tc, .capitalize, .text-capitalize { text-transform: capitalize; }
.tcs, .capital-small, .text-capital-small { font-variant:small-caps; }
.tcs, .capitalize-small, .text-capitalize-small { font-variant:small-caps; }
.ti, .italic, .text-italic { font-style: italic; }
.tj, .justify, .text-justify { text-align: justify; }
.tlc, .lowercase, .text-lowercase { text-transform: lowercase; }
.tlt, .line-through, .text-line-through { text-decoration: line-through; }
.tnd, .nodecoration, .text-nodecoration { text-decoration: none; }
.to, .overline, .text-overline { text-decoration: overline; }
.tar, .text-right, .text-align-right { text-align: right; }
.tu, .underline, .text-underline { text-decoration: underline; }
.tuc, .uppercase, .text-uppercase { text-transform: uppercase; }

