/* 
    Authors     : Perry Faro & Rick van der Wolk
*/

/* line-height */
.lh0 { line-height: 0px !important; }
.lh1 { line-height: 1px !important; }
.lh2 { line-height: 2px !important; }
.lh3 { line-height: 3px !important; }
.lh4 { line-height: 4px !important; }
.lh5 { line-height: 5px !important; }
.lh6 { line-height: 6px !important; }
.lh7 { line-height: 7px !important; }
.lh8 { line-height: 8px !important; }
.lh9 { line-height: 9px !important; }
.lh10 { line-height: 10px !important; }
.lh11 { line-height: 11px !important; }
.lh12 { line-height: 12px !important; }
.lh13 { line-height: 13px !important; }
.lh14 { line-height: 14px !important; }
.lh15 { line-height: 15px !important; }
.lh16 { line-height: 16px !important; }
.lh17 { line-height: 17px !important; }
.lh18 { line-height: 18px !important; }
.lh19 { line-height: 19px !important; }
.lh20 { line-height: 20px !important; }
.lh21 { line-height: 21px !important; }
.lh22 { line-height: 22px !important; }
.lh23 { line-height: 23px !important; }
.lh24 { line-height: 24px !important; }
.lh25 { line-height: 25px !important; }
.lh26 { line-height: 26px !important; }
.lh28 { line-height: 28px !important; }
.lh30 { line-height: 30px !important; }
.lh32 { line-height: 32px !important; }
.lh35 { line-height: 35px !important; }
.lh36 { line-height: 36px !important; }
.lh40 { line-height: 40px !important; }
.lh44 { line-height: 44px !important; }
.lh45 { line-height: 45px !important; }
.lh48 { line-height: 48px !important; }
.lh50 { line-height: 50px !important; }
.lh54 { line-height: 54px !important; }
.lh55 { line-height: 55px !important; }
.lh60 { line-height: 60px !important; }
.lh65 { line-height: 65px !important; }
.lh66 { line-height: 66px !important; }
.lh70 { line-height: 70px !important; }
.lh72 { line-height: 72px !important; }
.lh75 { line-height: 75px !important; }
.lh80 { line-height: 80px !important; }
.lh85 { line-height: 85px !important; }
.lh88 { line-height: 88px !important; }
.lh90 { line-height: 90px !important; }
.lh95 { line-height: 95px !important; }
.lh96 { line-height: 96px !important; }
.lh100 { line-height: 100px !important; }
.lh105 { line-height: 105px !important; }
.lh110 { line-height: 110px !important; }
.lh115 { line-height: 115px !important; }
.lh120 { line-height: 120px !important; }
.lh125 { line-height: 125px !important; }
.lh130 { line-height: 130px !important; }
.lh135 { line-height: 135px !important; }
.lh140 { line-height: 140px !important; }
.lh145 { line-height: 145px !important; }
.lh150 { line-height: 150px !important; }