/* 
    Authors     : Perry Faro & Rick van der Wolk
*/

/* margin */
.m0, .m-0, .m-a-0 { margin: 0; }
.m1, .m-1, .m-a-1 { margin: 1px; }
.m2, .m-2, .m-a-2 { margin: 2px; }
.m3, .m-3, .m-a-3 { margin: 3px; }
.m4, .m-4, .m-a-4 { margin: 4px; }
.m5, .m-5, .m-a-5 { margin: 5px; }
.m6, .m-6, .m-a-6 { margin: 6px; }
.m7, .m-7, .m-a-7 { margin: 7px; }
.m8, .m-8, .m-a-8 { margin: 8px; }
.m9, .m-9, .m-a-9 { margin: 9px; }
.m10, .m-10, .m-a-10 { margin: 10px; }
.m11, .m-11, .m-a-11 { margin: 11px; }
.m12, .m-12, .m-a-12 { margin: 12px; }
.m13, .m-13, .m-a-13 { margin: 13px; }
.m14, .m-14, .m-a-14 { margin: 14px; }
.m15, .m-15, .m-a-15 { margin: 15px; }
.m16, .m-16, .m-a-16 { margin: 16px; }
.m17, .m-17, .m-a-17 { margin: 17px; }
.m18, .m-18, .m-a-18 { margin: 18px; }
.m19, .m-19, .m-a-19 { margin: 19px; }
.m20, .m-20, .m-a-20 { margin: 20px; }
.m21, .m-21, .m-a-21 { margin: 21px; }
.m22, .m-22, .m-a-22 { margin: 22px; }
.m23, .m-23, .m-a-23 { margin: 23px; }
.m24, .m-24, .m-a-24 { margin: 24px; }
.m25, .m-25, .m-a-25 { margin: 25px; }
.m30, .m-30, .m-a-30 { margin: 30px; }
.m35, .m-35, .m-a-35 { margin: 35px; }
.m40, .m-40, .m-a-40 { margin: 40px; }
.m45, .m-45, .m-a-45 { margin: 45px; }
.m50, .m-50, .m-a-50 { margin: 50px; }
.m55, .m-55, .m-a-55 { margin: 55px; }
.m60, .m-60, .m-a-60 { margin: 60px; }
.m65, .m-65, .m-a-65 { margin: 65px; }
.m70, .m-70, .m-a-70 { margin: 70px; }
.m75, .m-75, .m-a-75 { margin: 75px; }
.m80, .m-80, .m-a-80 { margin: 80px; }
.m85, .m-85, .m-a-85 { margin: 85px; }
.m90, .m-90, .m-a-90 { margin: 90px; }
.m95, .m-95, .m-a-95 { margin: 95px; }
.m100, .m-100, .m-a-100 { margin: 100px; }
.m105, .m-105, .m-a-105 { margin: 105px; }
.m110, .m-110, .m-a-110 { margin: 110px; }
.m115, .m-115, .m-a-115 { margin: 115px; }
.m120, .m-120, .m-a-120 { margin: 120px; }
.m125, .m-125, .m-a-125 { margin: 125px; }
.m130, .m-130, .m-a-130 { margin: 130px; }
.m135, .m-135, .m-a-135 { margin: 135px; }
.m140, .m-140, .m-a-140 { margin: 140px; }
.m145, .m-145, .m-a-145 { margin: 145px; }
.m150, .m-150, .m-a-150 { margin: 150px; }

/* margin-top */
.mt0 { margin-top: 0; }
.mt1 { margin-top: 1px; }
.mt2 { margin-top: 2px; }
.mt3 { margin-top: 3px; }
.mt4 { margin-top: 4px; }
.mt5 { margin-top: 5px; }
.mt6 { margin-top: 6px; }
.mt7 { margin-top: 7px; }
.mt8 { margin-top: 8px; }
.mt9 { margin-top: 9px; }
.mt10 { margin-top: 10px; }
.mt11 { margin-top: 11px; }
.mt12 { margin-top: 12px; }
.mt13 { margin-top: 13px; }
.mt14 { margin-top: 14px; }
.mt15 { margin-top: 15px; }
.mt16 { margin-top: 16px; }
.mt17 { margin-top: 17px; }
.mt18 { margin-top: 18px; }
.mt19 { margin-top: 19px; }
.mt20 { margin-top: 20px; }
.mt21 { margin-top: 21px; }
.mt22 { margin-top: 22px; }
.mt23 { margin-top: 23px; }
.mt24 { margin-top: 24px; }
.mt25 { margin-top: 25px; }
.mt30 { margin-top: 30px; }
.mt35 { margin-top: 35px; }
.mt40 { margin-top: 40px; }
.mt45 { margin-top: 45px; }
.mt50 { margin-top: 50px; }
.mt55 { margin-top: 55px; }
.mt60 { margin-top: 60px; }
.mt65 { margin-top: 65px; }
.mt70 { margin-top: 70px; }
.mt75 { margin-top: 75px; }
.mt80 { margin-top: 80px; }
.mt85 { margin-top: 85px; }
.mt90 { margin-top: 90px; }
.mt95 { margin-top: 95px; }
.mt100 { margin-top: 100px; }
.mt105 { margin-top: 105px; }
.mt110 { margin-top: 110px; }
.mt115 { margin-top: 115px; }
.mt120 { margin-top: 120px; }
.mt125 { margin-top: 125px; }
.mt130 { margin-top: 130px; }
.mt135 { margin-top: 135px; }
.mt140 { margin-top: 140px; }
.mt145 { margin-top: 145px; }
.mt150 { margin-top: 150px; }

/* margin-bottom */
.mb0 { margin-bottom: 0; }
.mb1 { margin-bottom: 1px; }
.mb2 { margin-bottom: 2px; }
.mb3 { margin-bottom: 3px; }
.mb4 { margin-bottom: 4px; }
.mb5 { margin-bottom: 5px; }
.mb6 { margin-bottom: 6px; }
.mb7 { margin-bottom: 7px; }
.mb8 { margin-bottom: 8px; }
.mb9 { margin-bottom: 9px; }
.mb10 { margin-bottom: 10px; }
.mb11 { margin-bottom: 11px; }
.mb12 { margin-bottom: 12px; }
.mb13 { margin-bottom: 13px; }
.mb14 { margin-bottom: 14px; }
.mb15 { margin-bottom: 15px; }
.mb16 { margin-bottom: 16px; }
.mb17 { margin-bottom: 17px; }
.mb18 { margin-bottom: 18px; }
.mb19 { margin-bottom: 19px; }
.mb20 { margin-bottom: 20px; }
.mb21 { margin-bottom: 21px; }
.mb22 { margin-bottom: 22px; }
.mb23 { margin-bottom: 23px; }
.mb24 { margin-bottom: 24px; }
.mb25 { margin-bottom: 25px; }
.mb30 { margin-bottom: 30px; }
.mb35 { margin-bottom: 35px; }
.mb40 { margin-bottom: 40px; }
.mb45 { margin-bottom: 45px; }
.mb50 { margin-bottom: 50px; }
.mb55 { margin-bottom: 55px; }
.mb60 { margin-bottom: 60px; }
.mb65 { margin-bottom: 65px; }
.mb70 { margin-bottom: 70px; }
.mb75 { margin-bottom: 75px; }
.mb80 { margin-bottom: 80px; }
.mb85 { margin-bottom: 85px; }
.mb90 { margin-bottom: 90px; }
.mb95 { margin-bottom: 95px; }
.mb100 { margin-bottom: 100px; }
.mb105 { margin-bottom: 105px; }
.mb110 { margin-bottom: 110px; }
.mb115 { margin-bottom: 115px; }
.mb120 { margin-bottom: 120px; }
.mb125 { margin-bottom: 125px; }
.mb130 { margin-bottom: 130px; }
.mb135 { margin-bottom: 135px; }
.mb140 { margin-bottom: 140px; }
.mb145 { margin-bottom: 145px; }
.mb150 { margin-bottom: 150px; }

/* margin-right */
.mr0 { margin-right: 0; }
.mr1 { margin-right: 1px; }
.mr2 { margin-right: 2px; }
.mr3 { margin-right: 3px; }
.mr4 { margin-right: 4px; }
.mr5 { margin-right: 5px; }
.mr6 { margin-right: 6px; }
.mr7 { margin-right: 7px; }
.mr8 { margin-right: 8px; }
.mr9 { margin-right: 9px; }
.mr10 { margin-right: 10px; }
.mr11 { margin-right: 11px; }
.mr12 { margin-right: 12px; }
.mr13 { margin-right: 13px; }
.mr14 { margin-right: 14px; }
.mr15 { margin-right: 15px; }
.mr16 { margin-right: 16px; }
.mr17 { margin-right: 17px; }
.mr18 { margin-right: 18px; }
.mr19 { margin-right: 19px; }
.mr20 { margin-right: 20px; }
.mr21 { margin-right: 21px; }
.mr22 { margin-right: 22px; }
.mr23 { margin-right: 23px; }
.mr24 { margin-right: 24px; }
.mr25 { margin-right: 25px; }
.mr30 { margin-right: 30px; }
.mr35 { margin-right: 35px; }
.mr40 { margin-right: 40px; }
.mr45 { margin-right: 45px; }
.mr50 { margin-right: 50px; }
.mr55 { margin-right: 55px; }
.mr60 { margin-right: 60px; }
.mr65 { margin-right: 65px; }
.mr70 { margin-right: 70px; }
.mr75 { margin-right: 75px; }
.mr80 { margin-right: 80px; }
.mr85 { margin-right: 85px; }
.mr90 { margin-right: 90px; }
.mr95 { margin-right: 95px; }
.mr100 { margin-right: 100px; }
.mr105 { margin-right: 105px; }
.mr110 { margin-right: 110px; }
.mr115 { margin-right: 115px; }
.mr120 { margin-right: 120px; }
.mr125 { margin-right: 125px; }
.mr130 { margin-right: 130px; }
.mr135 { margin-right: 135px; }
.mr140 { margin-right: 140px; }
.mr145 { margin-right: 145px; }
.mr150 { margin-right: 150px; }

/* margin-left */
.ml0 { margin-left: 0; }
.ml1 { margin-left: 1px; }
.ml2 { margin-left: 2px; }
.ml3 { margin-left: 3px; }
.ml4 { margin-left: 4px; }
.ml5 { margin-left: 5px; }
.ml6 { margin-left: 6px; }
.ml7 { margin-left: 7px; }
.ml8 { margin-left: 8px; }
.ml9 { margin-left: 9px; }
.ml10 { margin-left: 10px; }
.ml11 { margin-left: 11px; }
.ml12 { margin-left: 12px; }
.ml13 { margin-left: 13px; }
.ml14 { margin-left: 14px; }
.ml15 { margin-left: 15px; }
.ml16 { margin-left: 16px; }
.ml17 { margin-left: 17px; }
.ml18 { margin-left: 18px; }
.ml19 { margin-left: 19px; }
.ml20 { margin-left: 20px; }
.ml21 { margin-left: 21px; }
.ml22 { margin-left: 22px; }
.ml23 { margin-left: 23px; }
.ml24 { margin-left: 24px; }
.ml25 { margin-left: 25px; }
.ml30 { margin-left: 30px; }
.ml35 { margin-left: 35px; }
.ml40 { margin-left: 40px; }
.ml45 { margin-left: 45px; }
.ml50 { margin-left: 50px; }
.ml55 { margin-left: 55px; }
.ml60 { margin-left: 60px; }
.ml65 { margin-left: 65px; }
.ml70 { margin-left: 70px; }
.ml75 { margin-left: 75px; }
.ml80 { margin-left: 80px; }
.ml85 { margin-left: 85px; }
.ml90 { margin-left: 90px; }
.ml95 { margin-left: 95px; }
.ml100 { margin-left: 100px; }
.ml105 { margin-left: 105px; }
.ml110 { margin-left: 110px; }
.ml115 { margin-left: 115px; }
.ml120 { margin-left: 120px; }
.ml125 { margin-left: 125px; }
.ml130 { margin-left: 130px; }
.ml135 { margin-left: 135px; }
.ml140 { margin-left: 140px; }
.ml145 { margin-left: 145px; }
.ml150 { margin-left: 150px; }
