/* 
    Authors     : Perry Faro & Rick van der Wolk
*/

/* padding */
.p0, .p-0, .p-a-0 { padding: 0; }
.p1, .p-1, .p-a-1 { padding: 1px; }
.p2, .p-2, .p-a-2 { padding: 2px; }
.p3, .p-3, .p-a-3 { padding: 3px; }
.p4, .p-4, .p-a-4 { padding: 4px; }
.p5, .p-5, .p-a-5 { padding: 5px; }
.p6, .p-6, .p-a-6 { padding: 6px; }
.p7, .p-7, .p-a-7 { padding: 7px; }
.p8, .p-8, .p-a-8 { padding: 8px; }
.p9, .p-9, .p-a-9 { padding: 9px; }
.p10, .p-10, .p-a-10 { padding: 10px; }
.p11, .p-11, .p-a-11 { padding: 11px; }
.p12, .p-12, .p-a-12 { padding: 12px; }
.p13, .p-13, .p-a-13 { padding: 13px; }
.p14, .p-14, .p-a-14 { padding: 14px; }
.p15, .p-15, .p-a-15 { padding: 15px; }
.p16, .p-16, .p-a-16 { padding: 16px; }
.p17, .p-17, .p-a-17 { padding: 17px; }
.p18, .p-18, .p-a-18 { padding: 18px; }
.p19, .p-19, .p-a-19 { padding: 19px; }
.p20, .p-20, .p-a-20 { padding: 20px; }
.p21, .p-21, .p-a-21 { padding: 21px; }
.p22, .p-22, .p-a-22 { padding: 22px; }
.p23, .p-23, .p-a-23 { padding: 23px; }
.p24, .p-24, .p-a-24 { padding: 24px; }
.p25, .p-25, .p-a-25 { padding: 25px; }
.p30, .p-30, .p-a-30 { padding: 30px; }
.p35, .p-35, .p-a-35 { padding: 35px; }
.p40, .p-40, .p-a-40 { padding: 40px; }
.p45, .p-45, .p-a-45 { padding: 45px; }
.p50, .p-50, .p-a-50 { padding: 50px; }
.p55, .p-55, .p-a-55 { padding: 55px; }
.p60, .p-60, .p-a-60 { padding: 60px; }
.p65, .p-65, .p-a-65 { padding: 65px; }
.p70, .p-70, .p-a-70 { padding: 70px; }
.p75, .p-75, .p-a-75 { padding: 75px; }
.p80, .p-80, .p-a-80 { padding: 80px; }
.p85, .p-85, .p-a-85 { padding: 85px; }
.p90, .p-90, .p-a-90 { padding: 90px; }
.p95, .p-95, .p-a-95 { padding: 95px; }
.p100, .p-100, .p-a-100 { padding: 100px; }
.p105, .p-105, .p-a-105 { padding: 105px; }
.p110, .p-110, .p-a-110 { padding: 110px; }
.p115, .p-115, .p-a-115 { padding: 115px; }
.p120, .p-120, .p-a-120 { padding: 120px; }
.p125, .p-125, .p-a-125 { padding: 125px; }
.p130, .p-130, .p-a-130 { padding: 130px; }
.p135, .p-135, .p-a-135 { padding: 135px; }
.p140, .p-140, .p-a-140 { padding: 140px; }
.p145, .p-145, .p-a-145 { padding: 145px; }
.p150, .p-150, .p-a-150 { padding: 150px; }

/* padding-top */
.pt0, .p-t0, .p-t-0 { padding-top: 0; }
.pt1, .p-t1, .p-t-1 { padding-top: 1px; }
.pt2, .p-t2, .p-t-2 { padding-top: 2px; }
.pt3, .p-t3, .p-t-3 { padding-top: 3px; }
.pt4, .p-t4, .p-t-4 { padding-top: 4px; }
.pt5, .p-t5, .p-t-5 { padding-top: 5px; }
.pt6, .p-t6, .p-t-6 { padding-top: 6px; }
.pt7, .p-t7, .p-t-7 { padding-top: 7px; }
.pt8, .p-t8, .p-t-8 { padding-top: 8px; }
.pt9, .p-t9, .p-t-9 { padding-top: 9px; }
.pt10, .p-t10, .p-t-10 { padding-top: 10px; }
.pt11, .p-t11, .p-t-11 { padding-top: 11px; }
.pt12, .p-t12, .p-t-12 { padding-top: 12px; }
.pt13, .p-t13, .p-t-13 { padding-top: 13px; }
.pt14, .p-t14, .p-t-14 { padding-top: 14px; }
.pt15, .p-t15, .p-t-15 { padding-top: 15px; }
.pt16, .p-t16, .p-t-16 { padding-top: 16px; }
.pt17, .p-t17, .p-t-17 { padding-top: 17px; }
.pt18, .p-t18, .p-t-18 { padding-top: 18px; }
.pt19, .p-t19, .p-t-19 { padding-top: 19px; }
.pt20, .p-t20, .p-t-20 { padding-top: 20px; }
.pt21, .p-t21, .p-t-21 { padding-top: 21px; }
.pt22, .p-t22, .p-t-22 { padding-top: 22px; }
.pt23, .p-t23, .p-t-23 { padding-top: 23px; }
.pt24, .p-t24, .p-t-24 { padding-top: 24px; }
.pt25, .p-t25, .p-t-25 { padding-top: 25px; }
.pt30, .p-t30, .p-t-30 { padding-top: 30px; }
.pt35, .p-t35, .p-t-35 { padding-top: 35px; }
.pt40, .p-t40, .p-t-40 { padding-top: 40px; }
.pt45, .p-t45, .p-t-45 { padding-top: 45px; }
.pt50, .p-t50, .p-t-50 { padding-top: 50px; }
.pt55, .p-t55, .p-t-55 { padding-top: 55px; }
.pt60, .p-t60, .p-t-60 { padding-top: 60px; }
.pt65, .p-t65, .p-t-65 { padding-top: 65px; }
.pt70, .p-t70, .p-t-70 { padding-top: 70px; }
.pt75, .p-t75, .p-t-75 { padding-top: 75px; }
.pt80, .p-t80, .p-t-80 { padding-top: 80px; }
.pt85, .p-t85, .p-t-85 { padding-top: 85px; }
.pt90, .p-t90, .p-t-90 { padding-top: 90px; }
.pt95, .p-t95, .p-t-95 { padding-top: 95px; }
.pt100, .p-t100, .p-t-100 { padding-top: 100px; }
.pt105, .p-t105, .p-t-105 { padding-top: 105px; }
.pt110, .p-t110, .p-t-110 { padding-top: 110px; }
.pt115, .p-t115, .p-t-115 { padding-top: 115px; }
.pt120, .p-t120, .p-t-120 { padding-top: 120px; }
.pt125, .p-t125, .p-t-125 { padding-top: 125px; }
.pt130, .p-t130, .p-t-130 { padding-top: 130px; }
.pt135, .p-t135, .p-t-135 { padding-top: 135px; }
.pt140, .p-t140, .p-t-140 { padding-top: 140px; }
.pt145, .p-t145, .p-t-145 { padding-top: 145px; }
.pt150, .p-t150, .p-t-150 { padding-top: 150px; }

/* padding-bottom */
.pb0, .p-b0, .p-b-0 { padding-bottop: 0; }
.pb1, .p-b1, .p-b-1 { padding-bottop: 1px; }
.pb2, .p-b2, .p-b-2 { padding-bottop: 2px; }
.pb3, .p-b3, .p-b-3 { padding-bottop: 3px; }
.pb4, .p-b4, .p-b-4 { padding-bottop: 4px; }
.pb5, .p-b5, .p-b-5 { padding-bottop: 5px; }
.pb6, .p-b6, .p-b-6 { padding-bottop: 6px; }
.pb7, .p-b7, .p-b-7 { padding-bottop: 7px; }
.pb8, .p-b8, .p-b-8 { padding-bottop: 8px; }
.pb9, .p-b9, .p-b-9 { padding-bottop: 9px; }
.pb10, .p-b10, .p-b-10 { padding-bottop: 10px; }
.pb11, .p-b11, .p-b-11 { padding-bottop: 11px; }
.pb12, .p-b12, .p-b-12 { padding-bottop: 12px; }
.pb13, .p-b13, .p-b-13 { padding-bottop: 13px; }
.pb14, .p-b14, .p-b-14 { padding-bottop: 14px; }
.pb15, .p-b15, .p-b-15 { padding-bottop: 15px; }
.pb16, .p-b16, .p-b-16 { padding-bottop: 16px; }
.pb17, .p-b17, .p-b-17 { padding-bottop: 17px; }
.pb18, .p-b18, .p-b-18 { padding-bottop: 18px; }
.pb19, .p-b19, .p-b-19 { padding-bottop: 19px; }
.pb20, .p-b20, .p-b-20 { padding-bottop: 20px; }
.pb21, .p-b21, .p-b-21 { padding-bottop: 21px; }
.pb22, .p-b22, .p-b-22 { padding-bottop: 22px; }
.pb23, .p-b23, .p-b-23 { padding-bottop: 23px; }
.pb24, .p-b24, .p-b-24 { padding-bottop: 24px; }
.pb25, .p-b25, .p-b-25 { padding-bottop: 25px; }
.pb30, .p-b30, .p-b-30 { padding-bottop: 30px; }
.pb35, .p-b35, .p-b-35 { padding-bottop: 35px; }
.pb40, .p-b40, .p-b-40 { padding-bottop: 40px; }
.pb45, .p-b45, .p-b-45 { padding-bottop: 45px; }
.pb50, .p-b50, .p-b-50 { padding-bottop: 50px; }
.pb55, .p-b55, .p-b-55 { padding-bottop: 55px; }
.pb60, .p-b60, .p-b-60 { padding-bottop: 60px; }
.pb65, .p-b65, .p-b-65 { padding-bottop: 65px; }
.pb70, .p-b70, .p-b-70 { padding-bottop: 70px; }
.pb75, .p-b75, .p-b-75 { padding-bottop: 75px; }
.pb80, .p-b80, .p-b-80 { padding-bottop: 80px; }
.pb85, .p-b85, .p-b-85 { padding-bottop: 85px; }
.pb90, .p-b90, .p-b-90 { padding-bottop: 90px; }
.pb95, .p-b95, .p-b-95 { padding-bottop: 95px; }
.pb100, .p-b100, .p-b-100 { padding-bottop: 100px; }
.pb105, .p-b105, .p-b-105 { padding-bottop: 105px; }
.pb110, .p-b110, .p-b-110 { padding-bottop: 110px; }
.pb115, .p-b115, .p-b-115 { padding-bottop: 115px; }
.pb120, .p-b120, .p-b-120 { padding-bottop: 120px; }
.pb125, .p-b125, .p-b-125 { padding-bottop: 125px; }
.pb130, .p-b130, .p-b-130 { padding-bottop: 130px; }
.pb135, .p-b135, .p-b-135 { padding-bottop: 135px; }
.pb140, .p-b140, .p-b-140 { padding-bottop: 140px; }
.pb145, .p-b145, .p-b-145 { padding-bottop: 145px; }
.pb150, .p-b150, .p-b-150 { padding-bottop: 150px; }

/* padding-right */
.pr0, .p-r0, .p-r-0 { padding-right: 0; }
.pr1, .p-r1, .p-r-1 { padding-right: 1px; }
.pr2, .p-r2, .p-r-2 { padding-right: 2px; }
.pr3, .p-r3, .p-r-3 { padding-right: 3px; }
.pr4, .p-r4, .p-r-4 { padding-right: 4px; }
.pr5, .p-r5, .p-r-5 { padding-right: 5px; }
.pr6, .p-r6, .p-r-6 { padding-right: 6px; }
.pr7, .p-r7, .p-r-7 { padding-right: 7px; }
.pr8, .p-r8, .p-r-8 { padding-right: 8px; }
.pr9, .p-r9, .p-r-9 { padding-right: 9px; }
.pr10, .p-r10, .p-r-10 { padding-right: 10px; }
.pr11, .p-r11, .p-r-11 { padding-right: 11px; }
.pr12, .p-r12, .p-r-12 { padding-right: 12px; }
.pr13, .p-r13, .p-r-13 { padding-right: 13px; }
.pr14, .p-r14, .p-r-14 { padding-right: 14px; }
.pr15, .p-r15, .p-r-15 { padding-right: 15px; }
.pr16, .p-r16, .p-r-16 { padding-right: 16px; }
.pr17, .p-r17, .p-r-17 { padding-right: 17px; }
.pr18, .p-r18, .p-r-18 { padding-right: 18px; }
.pr19, .p-r19, .p-r-19 { padding-right: 19px; }
.pr20, .p-r20, .p-r-20 { padding-right: 20px; }
.pr21, .p-r21, .p-r-21 { padding-right: 21px; }
.pr22, .p-r22, .p-r-22 { padding-right: 22px; }
.pr23, .p-r23, .p-r-23 { padding-right: 23px; }
.pr24, .p-r24, .p-r-24 { padding-right: 24px; }
.pr25, .p-r25, .p-r-25 { padding-right: 25px; }
.pr30, .p-r30, .p-r-30 { padding-right: 30px; }
.pr35, .p-r35, .p-r-35 { padding-right: 35px; }
.pr40, .p-r40, .p-r-40 { padding-right: 40px; }
.pr45, .p-r45, .p-r-45 { padding-right: 45px; }
.pr50, .p-r50, .p-r-50 { padding-right: 50px; }
.pr55, .p-r55, .p-r-55 { padding-right: 55px; }
.pr60, .p-r60, .p-r-60 { padding-right: 60px; }
.pr65, .p-r65, .p-r-65 { padding-right: 65px; }
.pr70, .p-r70, .p-r-70 { padding-right: 70px; }
.pr75, .p-r75, .p-r-75 { padding-right: 75px; }
.pr80, .p-r80, .p-r-80 { padding-right: 80px; }
.pr85, .p-r85, .p-r-85 { padding-right: 85px; }
.pr90, .p-r90, .p-r-90 { padding-right: 90px; }
.pr95, .p-r95, .p-r-95 { padding-right: 95px; }
.pr100, .p-r100, .p-r-100 { padding-right: 100px; }
.pr105, .p-r105, .p-r-105 { padding-right: 105px; }
.pr110, .p-r110, .p-r-110 { padding-right: 110px; }
.pr115, .p-r115, .p-r-115 { padding-right: 115px; }
.pr120, .p-r120, .p-r-120 { padding-right: 120px; }
.pr125, .p-r125, .p-r-125 { padding-right: 125px; }
.pr130, .p-r130, .p-r-130 { padding-right: 130px; }
.pr135, .p-r135, .p-r-135 { padding-right: 135px; }
.pr140, .p-r140, .p-r-140 { padding-right: 140px; }
.pr145, .p-r145, .p-r-145 { padding-right: 145px; }
.pr150, .p-r150, .p-r-150 { padding-right: 150px; }

/* padding-left */
.pl0, .p-l0, .p-l-0 { padding-left: 0; }
.pl1, .p-l1, .p-l-1 { padding-left: 1px; }
.pl2, .p-l2, .p-l-2 { padding-left: 2px; }
.pl3, .p-l3, .p-l-3 { padding-left: 3px; }
.pl4, .p-l4, .p-l-4 { padding-left: 4px; }
.pl5, .p-l5, .p-l-5 { padding-left: 5px; }
.pl6, .p-l6, .p-l-6 { padding-left: 6px; }
.pl7, .p-l7, .p-l-7 { padding-left: 7px; }
.pl8, .p-l8, .p-l-8 { padding-left: 8px; }
.pl9, .p-l9, .p-l-9 { padding-left: 9px; }
.pl10, .p-l10, .p-l-10 { padding-left: 10px; }
.pl11, .p-l11, .p-l-11 { padding-left: 11px; }
.pl12, .p-l12, .p-l-12 { padding-left: 12px; }
.pl13, .p-l13, .p-l-13 { padding-left: 13px; }
.pl14, .p-l14, .p-l-14 { padding-left: 14px; }
.pl15, .p-l15, .p-l-15 { padding-left: 15px; }
.pl16, .p-l16, .p-l-16 { padding-left: 16px; }
.pl17, .p-l17, .p-l-17 { padding-left: 17px; }
.pl18, .p-l18, .p-l-18 { padding-left: 18px; }
.pl19, .p-l19, .p-l-19 { padding-left: 19px; }
.pl20, .p-l20, .p-l-20 { padding-left: 20px; }
.pl21, .p-l21, .p-l-21 { padding-left: 21px; }
.pl22, .p-l22, .p-l-22 { padding-left: 22px; }
.pl23, .p-l23, .p-l-23 { padding-left: 23px; }
.pl24, .p-l24, .p-l-24 { padding-left: 24px; }
.pl25, .p-l25, .p-l-25 { padding-left: 25px; }
.pl30, .p-l30, .p-l-30 { padding-left: 30px; }
.pl35, .p-l35, .p-l-35 { padding-left: 35px; }
.pl40, .p-l40, .p-l-40 { padding-left: 40px; }
.pl45, .p-l45, .p-l-45 { padding-left: 45px; }
.pl50, .p-l50, .p-l-50 { padding-left: 50px; }
.pl55, .p-l55, .p-l-55 { padding-left: 55px; }
.pl60, .p-l60, .p-l-60 { padding-left: 60px; }
.pl65, .p-l65, .p-l-65 { padding-left: 65px; }
.pl70, .p-l70, .p-l-70 { padding-left: 70px; }
.pl75, .p-l75, .p-l-75 { padding-left: 75px; }
.pl80, .p-l80, .p-l-80 { padding-left: 80px; }
.pl85, .p-l85, .p-l-85 { padding-left: 85px; }
.pl90, .p-l90, .p-l-90 { padding-left: 90px; }
.pl95, .p-l95, .p-l-95 { padding-left: 95px; }
.pl100, .p-l100, .p-l-100 { padding-left: 100px; }
.pl105, .p-l105, .p-l-105 { padding-left: 105px; }
.pl110, .p-l110, .p-l-110 { padding-left: 110px; }
.pl115, .p-l115, .p-l-115 { padding-left: 115px; }
.pl120, .p-l120, .p-l-120 { padding-left: 120px; }
.pl125, .p-l125, .p-l-125 { padding-left: 125px; }
.pl130, .p-l130, .p-l-130 { padding-left: 130px; }
.pl135, .p-l135, .p-l-135 { padding-left: 135px; }
.pl140, .p-l140, .p-l-140 { padding-left: 140px; }
.pl145, .p-l145, .p-l-145 { padding-left: 145px; }
.pl150, .p-l150, .p-l-150 { padding-left: 150px; }
