/* 
    Authors     : Perry Faro & Rick van der Wolk
*/

/* top */
.t0 { top: 0; }
.t1 { top: 1px; }
.t2 { top: 2px; }
.t3 { top: 3px; }
.t4 { top: 4px; }
.t5 { top: 5px; }
.t6 { top: 6px; }
.t7 { top: 7px; }
.t8 { top: 8px; }
.t9 { top: 9px; }
.t10 { top: 10px; }
.t11 { top: 11px; }
.t12 { top: 12px; }
.t13 { top: 13px; }
.t14 { top: 14px; }
.t15 { top: 15px; }
.t16 { top: 16px; }
.t17 { top: 17px; }
.t18 { top: 18px; }
.t19 { top: 19px; }
.t20 { top: 20px; }
.t21 { top: 21px; }
.t22 { top: 22px; }
.t23 { top: 23px; }
.t24 { top: 24px; }
.t25 { top: 25px; }
.t30 { top: 30px; }
.t35 { top: 35px; }
.t40 { top: 40px; }
.t45 { top: 45px; }
.t50 { top: 50px; }
.t55 { top: 55px; }
.t60 { top: 60px; }
.t65 { top: 65px; }
.t70 { top: 70px; }
.t75 { top: 75px; }
.t80 { top: 80px; }
.t85 { top: 85px; }
.t90 { top: 90px; }
.t95 { top: 95px; }
.t100 { top: 100px; }
.t105 { top: 105px; }
.t110 { top: 110px; }
.t115 { top: 115px; }
.t120 { top: 120px; }
.t125 { top: 125px; }
.t130 { top: 130px; }
.t135 { top: 135px; }
.t140 { top: 140px; }
.t145 { top: 145px; }
.t150 { top: 150px; }

/* bottom */
.b0 { bottom: 0; }
.b1 { bottom: 1px; }
.b2 { bottom: 2px; }
.b3 { bottom: 3px; }
.b4 { bottom: 4px; }
.b5 { bottom: 5px; }
.b6 { bottom: 6px; }
.b7 { bottom: 7px; }
.b8 { bottom: 8px; }
.b9 { bottom: 9px; }
.b10 { bottom: 10px; }
.b11 { bottom: 11px; }
.b12 { bottom: 12px; }
.b13 { bottom: 13px; }
.b14 { bottom: 14px; }
.b15 { bottom: 15px; }
.b16 { bottom: 16px; }
.b17 { bottom: 17px; }
.b18 { bottom: 18px; }
.b19 { bottom: 19px; }
.b20 { bottom: 20px; }
.b21 { bottom: 21px; }
.b22 { bottom: 22px; }
.b23 { bottom: 23px; }
.b24 { bottom: 24px; }
.b25 { bottom: 25px; }
.b30 { bottom: 30px; }
.b35 { bottom: 35px; }
.b40 { bottom: 40px; }
.b45 { bottom: 45px; }
.b50 { bottom: 50px; }
.b55 { bottom: 55px; }
.b60 { bottom: 60px; }
.b65 { bottom: 65px; }
.b70 { bottom: 70px; }
.b75 { bottom: 75px; }
.b80 { bottom: 80px; }
.b85 { bottom: 85px; }
.b90 { bottom: 90px; }
.b95 { bottom: 95px; }
.b100 { bottom: 100px; }
.b105 { bottom: 105px; }
.b110 { bottom: 110px; }
.b115 { bottom: 115px; }
.b120 { bottom: 120px; }
.b125 { bottom: 125px; }
.b130 { bottom: 130px; }
.b135 { bottom: 135px; }
.b140 { bottom: 140px; }
.b145 { bottom: 145px; }
.b150 { bottom: 150px; }

/* left */
.l0 { left: 0; }
.l1 { left: 1px; }
.l2 { left: 2px; }
.l3 { left: 3px; }
.l4 { left: 4px; }
.l5 { left: 5px; }
.l6 { left: 6px; }
.l7 { left: 7px; }
.l8 { left: 8px; }
.l9 { left: 9px; }
.l10 { left: 10px; }
.l11 { left: 11px; }
.l12 { left: 12px; }
.l13 { left: 13px; }
.l14 { left: 14px; }
.l15 { left: 15px; }
.l16 { left: 16px; }
.l17 { left: 17px; }
.l18 { left: 18px; }
.l19 { left: 19px; }
.l20 { left: 20px; }
.l21 { left: 21px; }
.l22 { left: 22px; }
.l23 { left: 23px; }
.l24 { left: 24px; }
.l25 { left: 25px; }
.l30 { left: 30px; }
.l35 { left: 35px; }
.l40 { left: 40px; }
.l45 { left: 45px; }
.l50 { left: 50px; }
.l55 { left: 55px; }
.l60 { left: 60px; }
.l65 { left: 65px; }
.l70 { left: 70px; }
.l75 { left: 75px; }
.l80 { left: 80px; }
.l85 { left: 85px; }
.l90 { left: 90px; }
.l95 { left: 95px; }
.l100 { left: 100px; }
.l105 { left: 105px; }
.l110 { left: 110px; }
.l115 { left: 115px; }
.l120 { left: 120px; }
.l125 { left: 125px; }
.l130 { left: 130px; }
.l135 { left: 135px; }
.l140 { left: 140px; }
.l145 { left: 145px; }
.l150 { left: 150px; }

/* right */
.r0 { right: 0; }
.r1 { right: 1px; }
.r2 { right: 2px; }
.r3 { right: 3px; }
.r4 { right: 4px; }
.r5 { right: 5px; }
.r6 { right: 6px; }
.r7 { right: 7px; }
.r8 { right: 8px; }
.r9 { right: 9px; }
.r10 { right: 10px; }
.r11 { right: 11px; }
.r12 { right: 12px; }
.r13 { right: 13px; }
.r14 { right: 14px; }
.r15 { right: 15px; }
.r16 { right: 16px; }
.r17 { right: 17px; }
.r18 { right: 18px; }
.r19 { right: 19px; }
.r20 { right: 20px; }
.r21 { right: 21px; }
.r22 { right: 22px; }
.r23 { right: 23px; }
.r24 { right: 24px; }
.r25 { right: 25px; }
.r30 { right: 30px; }
.r35 { right: 35px; }
.r40 { right: 40px; }
.r45 { right: 45px; }
.r50 { right: 50px; }
.r55 { right: 55px; }
.r60 { right: 60px; }
.r65 { right: 65px; }
.r70 { right: 70px; }
.r75 { right: 75px; }
.r80 { right: 80px; }
.r85 { right: 85px; }
.r90 { right: 90px; }
.r95 { right: 95px; }
.r100 { right: 100px; }
.r105 { right: 105px; }
.r110 { right: 110px; }
.r115 { right: 115px; }
.r120 { right: 120px; }
.r125 { right: 125px; }
.r130 { right: 130px; }
.r135 { right: 135px; }
.r140 { right: 140px; }
.r145 { right: 145px; }
.r150 { right: 150px; }