/* 
    Authors     : Perry Faro & Rick van der Wolk
*/

.z0 { z-index: 0; }
.z1 { z-index: 1; }
.z2 { z-index: 2; }
.z3 { z-index: 3; }
.z4 { z-index: 4; }
.z5 { z-index: 5; }
.z6 { z-index: 6; }
.z7 { z-index: 7; }
.z8 { z-index: 8; }
.z9 { z-index: 9; }
.z10 { z-index: 10; }
.z11 { z-index: 11; }
.z12 { z-index: 12; }
.z13 { z-index: 13; }
.z14 { z-index: 14; }
.z15 { z-index: 15; }
.z16 { z-index: 16; }
.z17 { z-index: 17; }
.z18 { z-index: 18; }
.z19 { z-index: 19; }
.z20 { z-index: 20; }
.z21 { z-index: 21; }
.z22 { z-index: 22; }
.z23 { z-index: 23; }
.z24 { z-index: 24; }
.z25 { z-index: 25; }
.z30 { z-index: 30; }
.z35 { z-index: 35; }
.z40 { z-index: 40; }
.z45 { z-index: 45; }
.z50 { z-index: 50; }
.z55 { z-index: 55; }
.z60 { z-index: 60; }
.z65 { z-index: 65; }
.z70 { z-index: 70; }
.z75 { z-index: 75; }
.z80 { z-index: 80; }
.z85 { z-index: 85; }
.z90 { z-index: 90; }
.z95 { z-index: 95; }
.z100 { z-index: 100; }
.z105 { z-index: 105; }
.z110 { z-index: 110; }
.z115 { z-index: 115; }
.z120 { z-index: 120; }
.z125 { z-index: 125; }
.z130 { z-index: 130; }
.z135 { z-index: 135; }
.z140 { z-index: 140; }
.z145 { z-index: 145; }
.z150 { z-index: 150; }
.z200 { z-index: 200; }
.z300 { z-index: 300; }
.z400 { z-index: 400; }
.z500 { z-index: 500; }
.z600 { z-index: 600; }
.z700 { z-index: 700; }
.z800 { z-index: 800; }
.z900 { z-index: 900; }
.z1000 { z-index: 1000; }
.z1100 { z-index: 1100; }
.z1200 { z-index: 1200; }
.z1300 { z-index: 1300; }
.z1400 { z-index: 1400; }
.z1500 { z-index: 1500; }
.z1600 { z-index: 1600; }
.z1700 { z-index: 1700; }
.z1800 { z-index: 1800; }
.z1900 { z-index: 1900; }
.z2000 { z-index: 2000; }
.z2100 { z-index: 2100; }
.z2200 { z-index: 2200; }
.z2300 { z-index: 2300; }
.z2400 { z-index: 2400; }
.z2500 { z-index: 2500; }
.z2600 { z-index: 2600; }
.z2700 { z-index: 2700; }
.z2800 { z-index: 2800; }
.z2900 { z-index: 2900; }
.z3000 { z-index: 3000; }
.z3100 { z-index: 3100; }
.z3200 { z-index: 3200; }
.z3300 { z-index: 3300; }
.z3400 { z-index: 3400; }
.z3500 { z-index: 3500; }
.z3600 { z-index: 3600; }
.z3700 { z-index: 3700; }
.z3800 { z-index: 3800; }
.z3900 { z-index: 3900; }
.z4000 { z-index: 4000; }
.z4100 { z-index: 4100; }
.z4200 { z-index: 4200; }
.z4300 { z-index: 4300; }
.z4400 { z-index: 4400; }
.z4500 { z-index: 4500; }
.z4600 { z-index: 4600; }
.z4700 { z-index: 4700; }
.z4800 { z-index: 4800; }
.z4900 { z-index: 4900; }
.z5000 { z-index: 5000; }
.z6000 { z-index: 6000; }
.z6100 { z-index: 6100; }
.z6200 { z-index: 6200; }
.z6300 { z-index: 6300; }
.z6400 { z-index: 6400; }
.z6500 { z-index: 6500; }
.z6600 { z-index: 6600; }
.z6700 { z-index: 6700; }
.z6800 { z-index: 6800; }
.z6900 { z-index: 6900; }
.z7000 { z-index: 7000; }
.z7100 { z-index: 7100; }
.z7200 { z-index: 7200; }
.z7300 { z-index: 7300; }
.z7400 { z-index: 7400; }
.z7500 { z-index: 7500; }
.z7600 { z-index: 7600; }
.z7700 { z-index: 7700; }
.z7800 { z-index: 7800; }
.z7900 { z-index: 7900; }
.z8000 { z-index: 8000; }
.z8100 { z-index: 8100; }
.z8200 { z-index: 8200; }
.z8300 { z-index: 8300; }
.z8400 { z-index: 8400; }
.z8500 { z-index: 8500; }
.z8600 { z-index: 8600; }
.z8700 { z-index: 8700; }
.z8800 { z-index: 8800; }
.z8900 { z-index: 8900; }
.z9000 { z-index: 9000; }
.z9100 { z-index: 9100; }
.z9200 { z-index: 9200; }
.z9300 { z-index: 9300; }
.z9400 { z-index: 9400; }
.z9500 { z-index: 9500; }
.z9600 { z-index: 9600; }
.z9700 { z-index: 9700; }
.z9800 { z-index: 9800; }
.z9900 { z-index: 9900; }
.z10000 { z-index: 10000; }