/* 
    Authors     : Perry Faro & Rick van der Wolk
*/

/* border-radius */
.br0 { border-radius: 0; }
.br1 { border-radius: 1px; }
.br2 { border-radius: 2px; }
.br3 { border-radius: 3px; }
.br4 { border-radius: 4px; }
.br5 { border-radius: 5px; }
.br6 { border-radius: 6px; }
.br7 { border-radius: 7px; }
.br8 { border-radius: 8px; }
.br9 { border-radius: 9px; }
.br10 { border-radius: 10px; }
.br11 { border-radius: 11px; }
.br12 { border-radius: 12px; }
.br13 { border-radius: 13px; }
.br14 { border-radius: 14px; }
.br15 { border-radius: 15px; }
.br16 { border-radius: 16px; }
.br17 { border-radius: 17px; }
.br18 { border-radius: 18px; }
.br19 { border-radius: 19px; }
.br20 { border-radius: 20px; }
.br21 { border-radius: 21px; }
.br22 { border-radius: 22px; }
.br23 { border-radius: 23px; }
.br24 { border-radius: 24px; }
.br25 { border-radius: 25px; }
.br30 { border-radius: 30px; }
.br35 { border-radius: 35px; }
.br40 { border-radius: 40px; }
.br45 { border-radius: 45px; }
.br50 { border-radius: 50px; }
.br55 { border-radius: 55px; }
.br60 { border-radius: 60px; }
.br65 { border-radius: 65px; }
.br70 { border-radius: 70px; }
.br75 { border-radius: 75px; }
.br80 { border-radius: 80px; }
.br85 { border-radius: 85px; }
.br90 { border-radius: 90px; }
.br95 { border-radius: 95px; }
.br100 { border-radius: 100px; }
.br105 { border-radius: 105px; }
.br110 { border-radius: 110px; }
.br115 { border-radius: 115px; }
.br120 { border-radius: 120px; }
.br125 { border-radius: 125px; }
.br130 { border-radius: 130px; }
.br135 { border-radius: 135px; }
.br140 { border-radius: 140px; }
.br145 { border-radius: 145px; }
.br150 { border-radius: 150px; }

/* border */
.bd0 { border: 0; }
.bd1 { border: 1px; }
.bd2 { border: 2px; }
.bd3 { border: 3px; }
.bd4 { border: 4px; }
.bd5 { border: 5px; }
.bd6 { border: 6px; }
.bd7 { border: 7px; }
.bd8 { border: 8px; }
.bd9 { border: 9px; }
.bd10 { border: 10px; }
.bd11 { border: 11px; }
.bd12 { border: 12px; }
.bd13 { border: 13px; }
.bd14 { border: 14px; }
.bd15 { border: 15px; }
.bd16 { border: 16px; }
.bd17 { border: 17px; }
.bd18 { border: 18px; }
.bd19 { border: 19px; }
.bd20 { border: 20px; }
.bd21 { border: 21px; }
.bd22 { border: 22px; }
.bd23 { border: 23px; }
.bd24 { border: 24px; }
.bd25 { border: 25px; }
.bd30 { border: 30px; }
.bd35 { border: 35px; }
.bd40 { border: 40px; }
.bd45 { border: 45px; }
.bd50 { border: 50px; }
.bd55 { border: 55px; }
.bd60 { border: 60px; }
.bd65 { border: 65px; }
.bd70 { border: 70px; }
.bd75 { border: 75px; }
.bd80 { border: 80px; }
.bd85 { border: 85px; }
.bd90 { border: 90px; }
.bd95 { border: 95px; }
.bd100 { border: 100px; }
.bd105 { border: 105px; }
.bd110 { border: 110px; }
.bd115 { border: 115px; }
.bd120 { border: 120px; }
.bd125 { border: 125px; }
.bd130 { border: 130px; }
.bd135 { border: 135px; }
.bd140 { border: 140px; }
.bd145 { border: 145px; }
.bd150 { border: 150px; }

/* border-top */
.bdt0 { border-top: 0; }
.bdt1 { border-top: 1px; }
.bdt2 { border-top: 2px; }
.bdt3 { border-top: 3px; }
.bdt4 { border-top: 4px; }
.bdt5 { border-top: 5px; }
.bdt6 { border-top: 6px; }
.bdt7 { border-top: 7px; }
.bdt8 { border-top: 8px; }
.bdt9 { border-top: 9px; }
.bdt10 { border-top: 10px; }
.bdt11 { border-top: 11px; }
.bdt12 { border-top: 12px; }
.bdt13 { border-top: 13px; }
.bdt14 { border-top: 14px; }
.bdt15 { border-top: 15px; }
.bdt16 { border-top: 16px; }
.bdt17 { border-top: 17px; }
.bdt18 { border-top: 18px; }
.bdt19 { border-top: 19px; }
.bdt20 { border-top: 20px; }
.bdt21 { border-top: 21px; }
.bdt22 { border-top: 22px; }
.bdt23 { border-top: 23px; }
.bdt24 { border-top: 24px; }
.bdt25 { border-top: 25px; }
.bdt30 { border-top: 30px; }
.bdt35 { border-top: 35px; }
.bdt40 { border-top: 40px; }
.bdt45 { border-top: 45px; }
.bdt50 { border-top: 50px; }
.bdt55 { border-top: 55px; }
.bdt60 { border-top: 60px; }
.bdt65 { border-top: 65px; }
.bdt70 { border-top: 70px; }
.bdt75 { border-top: 75px; }
.bdt80 { border-top: 80px; }
.bdt85 { border-top: 85px; }
.bdt90 { border-top: 90px; }
.bdt95 { border-top: 95px; }
.bdt100 { border-top: 100px; }
.bdt105 { border-top: 105px; }
.bdt110 { border-top: 110px; }
.bdt115 { border-top: 115px; }
.bdt120 { border-top: 120px; }
.bdt125 { border-top: 125px; }
.bdt130 { border-top: 130px; }
.bdt135 { border-top: 135px; }
.bdt140 { border-top: 140px; }
.bdt145 { border-top: 145px; }
.bdt150 { border-top: 150px; }

/* border-bottom */
.bdb0 { border-bottom: 0; }
.bdb1 { border-bottom: 1px; }
.bdb2 { border-bottom: 2px; }
.bdb3 { border-bottom: 3px; }
.bdb4 { border-bottom: 4px; }
.bdb5 { border-bottom: 5px; }
.bdb6 { border-bottom: 6px; }
.bdb7 { border-bottom: 7px; }
.bdb8 { border-bottom: 8px; }
.bdb9 { border-bottom: 9px; }
.bdb10 { border-bottom: 10px; }
.bdb11 { border-bottom: 11px; }
.bdb12 { border-bottom: 12px; }
.bdb13 { border-bottom: 13px; }
.bdb14 { border-bottom: 14px; }
.bdb15 { border-bottom: 15px; }
.bdb16 { border-bottom: 16px; }
.bdb17 { border-bottom: 17px; }
.bdb18 { border-bottom: 18px; }
.bdb19 { border-bottom: 19px; }
.bdb20 { border-bottom: 20px; }
.bdb21 { border-bottom: 21px; }
.bdb22 { border-bottom: 22px; }
.bdb23 { border-bottom: 23px; }
.bdb24 { border-bottom: 24px; }
.bdb25 { border-bottom: 25px; }
.bdb30 { border-bottom: 30px; }
.bdb35 { border-bottom: 35px; }
.bdb40 { border-bottom: 40px; }
.bdb45 { border-bottom: 45px; }
.bdb50 { border-bottom: 50px; }
.bdb55 { border-bottom: 55px; }
.bdb60 { border-bottom: 60px; }
.bdb65 { border-bottom: 65px; }
.bdb70 { border-bottom: 70px; }
.bdb75 { border-bottom: 75px; }
.bdb80 { border-bottom: 80px; }
.bdb85 { border-bottom: 85px; }
.bdb90 { border-bottom: 90px; }
.bdb95 { border-bottom: 95px; }
.bdb100 { border-bottom: 100px; }
.bdb105 { border-bottom: 105px; }
.bdb110 { border-bottom: 110px; }
.bdb115 { border-bottom: 115px; }
.bdb120 { border-bottom: 120px; }
.bdb125 { border-bottom: 125px; }
.bdb130 { border-bottom: 130px; }
.bdb135 { border-bottom: 135px; }
.bdb140 { border-bottom: 140px; }
.bdb145 { border-bottom: 145px; }
.bdb150 { border-bottom: 150px; }

/* border-left */
.bdl0 { border-left: 0; }
.bdl1 { border-left: 1px; }
.bdl2 { border-left: 2px; }
.bdl3 { border-left: 3px; }
.bdl4 { border-left: 4px; }
.bdl5 { border-left: 5px; }
.bdl6 { border-left: 6px; }
.bdl7 { border-left: 7px; }
.bdl8 { border-left: 8px; }
.bdl9 { border-left: 9px; }
.bdl10 { border-left: 10px; }
.bdl11 { border-left: 11px; }
.bdl12 { border-left: 12px; }
.bdl13 { border-left: 13px; }
.bdl14 { border-left: 14px; }
.bdl15 { border-left: 15px; }
.bdl16 { border-left: 16px; }
.bdl17 { border-left: 17px; }
.bdl18 { border-left: 18px; }
.bdl19 { border-left: 19px; }
.bdl20 { border-left: 20px; }
.bdl21 { border-left: 21px; }
.bdl22 { border-left: 22px; }
.bdl23 { border-left: 23px; }
.bdl24 { border-left: 24px; }
.bdl25 { border-left: 25px; }
.bdl30 { border-left: 30px; }
.bdl35 { border-left: 35px; }
.bdl40 { border-left: 40px; }
.bdl45 { border-left: 45px; }
.bdl50 { border-left: 50px; }
.bdl55 { border-left: 55px; }
.bdl60 { border-left: 60px; }
.bdl65 { border-left: 65px; }
.bdl70 { border-left: 70px; }
.bdl75 { border-left: 75px; }
.bdl80 { border-left: 80px; }
.bdl85 { border-left: 85px; }
.bdl90 { border-left: 90px; }
.bdl95 { border-left: 95px; }
.bdl100 { border-left: 100px; }
.bdl105 { border-left: 105px; }
.bdl110 { border-left: 110px; }
.bdl115 { border-left: 115px; }
.bdl120 { border-left: 120px; }
.bdl125 { border-left: 125px; }
.bdl130 { border-left: 130px; }
.bdl135 { border-left: 135px; }
.bdl140 { border-left: 140px; }
.bdl145 { border-left: 145px; }
.bdl150 { border-left: 150px; }

/* border-right */
.bdr0 { border-right: 0; }
.bdr1 { border-right: 1px; }
.bdr2 { border-right: 2px; }
.bdr3 { border-right: 3px; }
.bdr4 { border-right: 4px; }
.bdr5 { border-right: 5px; }
.bdr6 { border-right: 6px; }
.bdr7 { border-right: 7px; }
.bdr8 { border-right: 8px; }
.bdr9 { border-right: 9px; }
.bdr10 { border-right: 10px; }
.bdr11 { border-right: 11px; }
.bdr12 { border-right: 12px; }
.bdr13 { border-right: 13px; }
.bdr14 { border-right: 14px; }
.bdr15 { border-right: 15px; }
.bdr16 { border-right: 16px; }
.bdr17 { border-right: 17px; }
.bdr18 { border-right: 18px; }
.bdr19 { border-right: 19px; }
.bdr20 { border-right: 20px; }
.bdr21 { border-right: 21px; }
.bdr22 { border-right: 22px; }
.bdr23 { border-right: 23px; }
.bdr24 { border-right: 24px; }
.bdr25 { border-right: 25px; }
.bdr30 { border-right: 30px; }
.bdr35 { border-right: 35px; }
.bdr40 { border-right: 40px; }
.bdr45 { border-right: 45px; }
.bdr50 { border-right: 50px; }
.bdr55 { border-right: 55px; }
.bdr60 { border-right: 60px; }
.bdr65 { border-right: 65px; }
.bdr70 { border-right: 70px; }
.bdr75 { border-right: 75px; }
.bdr80 { border-right: 80px; }
.bdr85 { border-right: 85px; }
.bdr90 { border-right: 90px; }
.bdr95 { border-right: 95px; }
.bdr100 { border-right: 100px; }
.bdr105 { border-right: 105px; }
.bdr110 { border-right: 110px; }
.bdr115 { border-right: 115px; }
.bdr120 { border-right: 120px; }
.bdr125 { border-right: 125px; }
.bdr130 { border-right: 130px; }
.bdr135 { border-right: 135px; }
.bdr140 { border-right: 140px; }
.bdr145 { border-right: 145px; }
.bdr150 { border-right: 150px; }