/* position */
.pa, .absolute, .position-absolute { position: absolute; }
.pf, .fixed, .position-fixed { position: fixed; }
.pfb, .fixed-bottom, .position-fixed-bottom { bottom: 0; left: 0; }
.pft, .fixed-top, .position-fixed-top { top: 0; left: 0; }
.pr, .relative, .position-relative { position: relative; }
.ps, .static, .position-static { position: static; }

/* font styles */
.tac, .text-center, .text-align-center { text-align: center; }
.tal, .text-left, .text-align-left { text-align: left; }
.tb, .bold, .text-bold { font-weight: bold; }
.tba, .break-all, .text-break-all { word-break: break-all; } 
.tbw, .break-word, .text-break-word { word-wrap: break-word; }
.tc, .capital, .text-capital { text-transform: capitalize; }
.tc, .capitalize, .text-capitalize { text-transform: capitalize; }
.tcs, .capital-small, .text-capital-small { font-variant:small-caps; }
.tcs, .capitalize-small, .text-capitalize-small { font-variant:small-caps; }
.ti, .italic, .text-italic { font-style: italic; }
.tj, .justify, .text-justify { text-align: justify; }
.tlc, .lowercase, .text-lowercase { text-transform: lowercase; }
.tlt, .line-through, .text-line-through { text-decoration: line-through; }
.tnd, .nodecoration, .text-nodecoration { text-decoration: none; }
.to, .overline, .text-overline { text-decoration: overline; }
.tar, .text-right, .text-align-right { text-align: right; }
.tu, `.underline, .text-underline { text-decoration: underline; }
.tuc, .uppercase, .text-uppercase { text-transform: uppercase; }

/* float */
.clr, .clear, .clear-both { clear: both; }
.cf, .clear-float, .fc, .float-clear { clear: both; }
.fl, .left, .float-left { float: left; }
.fn, .float-none { float: none; }
.fr, .right, .float-right { float: right; }

/* cursor */
.ca, .cursor-auto { cursor: auto; }
.cc, .cursor-copy { cursor: copy; }
.cch, .cursor-crosshair { cursor: crosshair; }
.ccl, .cursor-cell { cursor: cell; }
.cd, .cursor-default { cursor: default; }
.cg, .cursor-grab { cursor: grab; }
.ch, .cursor-helper { cursor: helper; }
.cm, .cursor-move { cursor: move; }
.cn, .cursor-none { cursor: none; }
.cna, .cursor-not-allowed { cursor: not-allowed; }
.cp, .cursor-pointer { cursor: pointer; }
.ct, .cursor-text { cursor: text; }
.cw, .cursor-wait { cursor: wait; }
.czi, .cursor-zoom-in { cursor: zoom-in; }
.czo, .cursor-zoom-out { cursor: zoom-out; }

/* margin */
.m0 { margin: 0; }
.m1 { margin: 1px; }
.m2 { margin: 2px; }
.m3 { margin: 3px; }
.m4 { margin: 4px; }
.m5 { margin: 5px; }
.m6 { margin: 6px; }
.m7 { margin: 7px; }
.m8 { margin: 8px; }
.m9 { margin: 9px; }
.m10 { margin: 10px; }
.m11 { margin: 11px; }
.m12 { margin: 12px; }
.m13 { margin: 13px; }
.m14 { margin: 14px; }
.m15 { margin: 15px; }
.m16 { margin: 16px; }
.m17 { margin: 17px; }
.m18 { margin: 18px; }
.m19 { margin: 19px; }
.m20 { margin: 20px; }
.m21 { margin: 21px; }
.m22 { margin: 22px; }
.m23 { margin: 23px; }
.m24 { margin: 24px; }
.m25 { margin: 25px; }
.m30 { margin: 30px; }
.m35 { margin: 35px; }
.m40 { margin: 40px; }
.m45 { margin: 45px; }
.m50 { margin: 50px; }
.m55 { margin: 55px; }
.m60 { margin: 60px; }
.m65 { margin: 65px; }
.m70 { margin: 70px; }
.m75 { margin: 75px; }
.m80 { margin: 80px; }
.m85 { margin: 85px; }
.m90 { margin: 90px; }
.m95 { margin: 95px; }
.m100 { margin: 100px; }
.m105 { margin: 105px; }
.m110 { margin: 110px; }
.m115 { margin: 115px; }
.m120 { margin: 120px; }
.m125 { margin: 125px; }
.m130 { margin: 130px; }
.m135 { margin: 135px; }
.m140 { margin: 140px; }
.m145 { margin: 145px; }
.m150 { margin: 150px; }

/* margin-top */
.mt0 { margin-top: 0; }
.mt1 { margin-top: 1px; }
.mt2 { margin-top: 2px; }
.mt3 { margin-top: 3px; }
.mt4 { margin-top: 4px; }
.mt5 { margin-top: 5px; }
.mt6 { margin-top: 6px; }
.mt7 { margin-top: 7px; }
.mt8 { margin-top: 8px; }
.mt9 { margin-top: 9px; }
.mt10 { margin-top: 10px; }
.mt11 { margin-top: 11px; }
.mt12 { margin-top: 12px; }
.mt13 { margin-top: 13px; }
.mt14 { margin-top: 14px; }
.mt15 { margin-top: 15px; }
.mt16 { margin-top: 16px; }
.mt17 { margin-top: 17px; }
.mt18 { margin-top: 18px; }
.mt19 { margin-top: 19px; }
.mt20 { margin-top: 20px; }
.mt21 { margin-top: 21px; }
.mt22 { margin-top: 22px; }
.mt23 { margin-top: 23px; }
.mt24 { margin-top: 24px; }
.mt25 { margin-top: 25px; }
.mt30 { margin-top: 30px; }
.mt35 { margin-top: 35px; }
.mt40 { margin-top: 40px; }
.mt45 { margin-top: 45px; }
.mt50 { margin-top: 50px; }
.mt55 { margin-top: 55px; }
.mt60 { margin-top: 60px; }
.mt65 { margin-top: 65px; }
.mt70 { margin-top: 70px; }
.mt75 { margin-top: 75px; }
.mt80 { margin-top: 80px; }
.mt85 { margin-top: 85px; }
.mt90 { margin-top: 90px; }
.mt95 { margin-top: 95px; }
.mt100 { margin-top: 100px; }
.mt105 { margin-top: 105px; }
.mt110 { margin-top: 110px; }
.mt115 { margin-top: 115px; }
.mt120 { margin-top: 120px; }
.mt125 { margin-top: 125px; }
.mt130 { margin-top: 130px; }
.mt135 { margin-top: 135px; }
.mt140 { margin-top: 140px; }
.mt145 { margin-top: 145px; }
.mt150 { margin-top: 150px; }

/* margin-bottom */
.mb0 { margin-bottom: 0; }
.mb1 { margin-bottom: 1px; }
.mb2 { margin-bottom: 2px; }
.mb3 { margin-bottom: 3px; }
.mb4 { margin-bottom: 4px; }
.mb5 { margin-bottom: 5px; }
.mb6 { margin-bottom: 6px; }
.mb7 { margin-bottom: 7px; }
.mb8 { margin-bottom: 8px; }
.mb9 { margin-bottom: 9px; }
.mb10 { margin-bottom: 10px; }
.mb11 { margin-bottom: 11px; }
.mb12 { margin-bottom: 12px; }
.mb13 { margin-bottom: 13px; }
.mb14 { margin-bottom: 14px; }
.mb15 { margin-bottom: 15px; }
.mb16 { margin-bottom: 16px; }
.mb17 { margin-bottom: 17px; }
.mb18 { margin-bottom: 18px; }
.mb19 { margin-bottom: 19px; }
.mb20 { margin-bottom: 20px; }
.mb21 { margin-bottom: 21px; }
.mb22 { margin-bottom: 22px; }
.mb23 { margin-bottom: 23px; }
.mb24 { margin-bottom: 24px; }
.mb25 { margin-bottom: 25px; }
.mb30 { margin-bottom: 30px; }
.mb35 { margin-bottom: 35px; }
.mb40 { margin-bottom: 40px; }
.mb45 { margin-bottom: 45px; }
.mb50 { margin-bottom: 50px; }
.mb55 { margin-bottom: 55px; }
.mb60 { margin-bottom: 60px; }
.mb65 { margin-bottom: 65px; }
.mb70 { margin-bottom: 70px; }
.mb75 { margin-bottom: 75px; }
.mb80 { margin-bottom: 80px; }
.mb85 { margin-bottom: 85px; }
.mb90 { margin-bottom: 90px; }
.mb95 { margin-bottom: 95px; }
.mb100 { margin-bottom: 100px; }
.mb105 { margin-bottom: 105px; }
.mb110 { margin-bottom: 110px; }
.mb115 { margin-bottom: 115px; }
.mb120 { margin-bottom: 120px; }
.mb125 { margin-bottom: 125px; }
.mb130 { margin-bottom: 130px; }
.mb135 { margin-bottom: 135px; }
.mb140 { margin-bottom: 140px; }
.mb145 { margin-bottom: 145px; }
.mb150 { margin-bottom: 150px; }

/* margin-right */
.mr0 { margin-right: 0; }
.mr1 { margin-right: 1px; }
.mr2 { margin-right: 2px; }
.mr3 { margin-right: 3px; }
.mr4 { margin-right: 4px; }
.mr5 { margin-right: 5px; }
.mr6 { margin-right: 6px; }
.mr7 { margin-right: 7px; }
.mr8 { margin-right: 8px; }
.mr9 { margin-right: 9px; }
.mr10 { margin-right: 10px; }
.mr11 { margin-right: 11px; }
.mr12 { margin-right: 12px; }
.mr13 { margin-right: 13px; }
.mr14 { margin-right: 14px; }
.mr15 { margin-right: 15px; }
.mr16 { margin-right: 16px; }
.mr17 { margin-right: 17px; }
.mr18 { margin-right: 18px; }
.mr19 { margin-right: 19px; }
.mr20 { margin-right: 20px; }
.mr21 { margin-right: 21px; }
.mr22 { margin-right: 22px; }
.mr23 { margin-right: 23px; }
.mr24 { margin-right: 24px; }
.mr25 { margin-right: 25px; }
.mr30 { margin-right: 30px; }
.mr35 { margin-right: 35px; }
.mr40 { margin-right: 40px; }
.mr45 { margin-right: 45px; }
.mr50 { margin-right: 50px; }
.mr55 { margin-right: 55px; }
.mr60 { margin-right: 60px; }
.mr65 { margin-right: 65px; }
.mr70 { margin-right: 70px; }
.mr75 { margin-right: 75px; }
.mr80 { margin-right: 80px; }
.mr85 { margin-right: 85px; }
.mr90 { margin-right: 90px; }
.mr95 { margin-right: 95px; }
.mr100 { margin-right: 100px; }
.mr105 { margin-right: 105px; }
.mr110 { margin-right: 110px; }
.mr115 { margin-right: 115px; }
.mr120 { margin-right: 120px; }
.mr125 { margin-right: 125px; }
.mr130 { margin-right: 130px; }
.mr135 { margin-right: 135px; }
.mr140 { margin-right: 140px; }
.mr145 { margin-right: 145px; }
.mr150 { margin-right: 150px; }

/* margin-left */
.ml0 { margin-left: 0; }
.ml1 { margin-left: 1px; }
.ml2 { margin-left: 2px; }
.ml3 { margin-left: 3px; }
.ml4 { margin-left: 4px; }
.ml5 { margin-left: 5px; }
.ml6 { margin-left: 6px; }
.ml7 { margin-left: 7px; }
.ml8 { margin-left: 8px; }
.ml9 { margin-left: 9px; }
.ml10 { margin-left: 10px; }
.ml11 { margin-left: 11px; }
.ml12 { margin-left: 12px; }
.ml13 { margin-left: 13px; }
.ml14 { margin-left: 14px; }
.ml15 { margin-left: 15px; }
.ml16 { margin-left: 16px; }
.ml17 { margin-left: 17px; }
.ml18 { margin-left: 18px; }
.ml19 { margin-left: 19px; }
.ml20 { margin-left: 20px; }
.ml21 { margin-left: 21px; }
.ml22 { margin-left: 22px; }
.ml23 { margin-left: 23px; }
.ml24 { margin-left: 24px; }
.ml25 { margin-left: 25px; }
.ml30 { margin-left: 30px; }
.ml35 { margin-left: 35px; }
.ml40 { margin-left: 40px; }
.ml45 { margin-left: 45px; }
.ml50 { margin-left: 50px; }
.ml55 { margin-left: 55px; }
.ml60 { margin-left: 60px; }
.ml65 { margin-left: 65px; }
.ml70 { margin-left: 70px; }
.ml75 { margin-left: 75px; }
.ml80 { margin-left: 80px; }
.ml85 { margin-left: 85px; }
.ml90 { margin-left: 90px; }
.ml95 { margin-left: 95px; }
.ml100 { margin-left: 100px; }
.ml105 { margin-left: 105px; }
.ml110 { margin-left: 110px; }
.ml115 { margin-left: 115px; }
.ml120 { margin-left: 120px; }
.ml125 { margin-left: 125px; }
.ml130 { margin-left: 130px; }
.ml135 { margin-left: 135px; }
.ml140 { margin-left: 140px; }
.ml145 { margin-left: 145px; }
.ml150 { margin-left: 150px; }

/* padding */
.pt0 { padding: 0; }
.pt1 { padding: 1px; }
.pt2 { padding: 2px; }
.pt3 { padding: 3px; }
.pt4 { padding: 4px; }
.pt5 { padding: 5px; }
.pt6 { padding: 6px; }
.pt7 { padding: 7px; }
.pt8 { padding: 8px; }
.pt9 { padding: 9px; }
.pt10 { padding: 10px; }
.pt11 { padding: 11px; }
.pt12 { padding: 12px; }
.pt13 { padding: 13px; }
.pt14 { padding: 14px; }
.pt15 { padding: 15px; }
.pt16 { padding: 16px; }
.pt17 { padding: 17px; }
.pt18 { padding: 18px; }
.pt19 { padding: 19px; }
.pt20 { padding: 20px; }
.pt21 { padding: 21px; }
.pt22 { padding: 22px; }
.pt23 { padding: 23px; }
.pt24 { padding: 24px; }
.pt25 { padding: 25px; }
.pt30 { padding: 30px; }
.pt35 { padding: 35px; }
.pt40 { padding: 40px; }
.pt45 { padding: 45px; }
.pt50 { padding: 50px; }
.pt55 { padding: 55px; }
.pt60 { padding: 60px; }
.pt65 { padding: 65px; }
.pt70 { padding: 70px; }
.pt75 { padding: 75px; }
.pt80 { padding: 80px; }
.pt85 { padding: 85px; }
.pt90 { padding: 90px; }
.pt95 { padding: 95px; }
.pt100 { padding: 100px; }
.pt105 { padding: 105px; }
.pt110 { padding: 110px; }
.pt115 { padding: 115px; }
.pt120 { padding: 120px; }
.pt125 { padding: 125px; }
.pt130 { padding: 130px; }
.pt135 { padding: 135px; }
.pt140 { padding: 140px; }
.pt145 { padding: 145px; }
.pt150 { padding: 150px; }

/* padding-top */
.pt0 { padding-top: 0; }
.pt1 { padding-top: 1px; }
.pt2 { padding-top: 2px; }
.pt3 { padding-top: 3px; }
.pt4 { padding-top: 4px; }
.pt5 { padding-top: 5px; }
.pt6 { padding-top: 6px; }
.pt7 { padding-top: 7px; }
.pt8 { padding-top: 8px; }
.pt9 { padding-top: 9px; }
.pt10 { padding-top: 10px; }
.pt11 { padding-top: 11px; }
.pt12 { padding-top: 12px; }
.pt13 { padding-top: 13px; }
.pt14 { padding-top: 14px; }
.pt15 { padding-top: 15px; }
.pt16 { padding-top: 16px; }
.pt17 { padding-top: 17px; }
.pt18 { padding-top: 18px; }
.pt19 { padding-top: 19px; }
.pt20 { padding-top: 20px; }
.pt21 { padding-top: 21px; }
.pt22 { padding-top: 22px; }
.pt23 { padding-top: 23px; }
.pt24 { padding-top: 24px; }
.pt25 { padding-top: 25px; }
.pt30 { padding-top: 30px; }
.pt35 { padding-top: 35px; }
.pt40 { padding-top: 40px; }
.pt45 { padding-top: 45px; }
.pt50 { padding-top: 50px; }
.pt55 { padding-top: 55px; }
.pt60 { padding-top: 60px; }
.pt65 { padding-top: 65px; }
.pt70 { padding-top: 70px; }
.pt75 { padding-top: 75px; }
.pt80 { padding-top: 80px; }
.pt85 { padding-top: 85px; }
.pt90 { padding-top: 90px; }
.pt95 { padding-top: 95px; }
.pt100 { padding-top: 100px; }
.pt105 { padding-top: 105px; }
.pt110 { padding-top: 110px; }
.pt115 { padding-top: 115px; }
.pt120 { padding-top: 120px; }
.pt125 { padding-top: 125px; }
.pt130 { padding-top: 130px; }
.pt135 { padding-top: 135px; }
.pt140 { padding-top: 140px; }
.pt145 { padding-top: 145px; }
.pt150 { padding-top: 150px; }

/* padding-bottom */
.pb0 { padding-bottom: 0; }
.pb1 { padding-bottom: 1px; }
.pb2 { padding-bottom: 2px; }
.pb3 { padding-bottom: 3px; }
.pb4 { padding-bottom: 4px; }
.pb5 { padding-bottom: 5px; }
.pb6 { padding-bottom: 6px; }
.pb7 { padding-bottom: 7px; }
.pb8 { padding-bottom: 8px; }
.pb9 { padding-bottom: 9px; }
.pb10 { padding-bottom: 10px; }
.pb11 { padding-bottom: 11px; }
.pb12 { padding-bottom: 12px; }
.pb13 { padding-bottom: 13px; }
.pb14 { padding-bottom: 14px; }
.pb15 { padding-bottom: 15px; }
.pb16 { padding-bottom: 16px; }
.pb17 { padding-bottom: 17px; }
.pb18 { padding-bottom: 18px; }
.pb19 { padding-bottom: 19px; }
.pb20 { padding-bottom: 20px; }
.pb21 { padding-bottom: 21px; }
.pb22 { padding-bottom: 22px; }
.pb23 { padding-bottom: 23px; }
.pb24 { padding-bottom: 24px; }
.pb25 { padding-bottom: 25px; }
.pb30 { padding-bottom: 30px; }
.pb35 { padding-bottom: 35px; }
.pb40 { padding-bottom: 40px; }
.pb45 { padding-bottom: 45px; }
.pb50 { padding-bottom: 50px; }
.pb55 { padding-bottom: 55px; }
.pb60 { padding-bottom: 60px; }
.pb65 { padding-bottom: 65px; }
.pb70 { padding-bottom: 70px; }
.pb75 { padding-bottom: 75px; }
.pb80 { padding-bottom: 80px; }
.pb85 { padding-bottom: 85px; }
.pb90 { padding-bottom: 90px; }
.pb95 { padding-bottom: 95px; }
.pb100 { padding-bottom: 100px; }
.pb105 { padding-bottom: 105px; }
.pb110 { padding-bottom: 110px; }
.pb115 { padding-bottom: 115px; }
.pb120 { padding-bottom: 120px; }
.pb125 { padding-bottom: 125px; }
.pb130 { padding-bottom: 130px; }
.pb135 { padding-bottom: 135px; }
.pb140 { padding-bottom: 140px; }
.pb145 { padding-bottom: 145px; }
.pb150 { padding-bottom: 150px; }

/* padding-right */
.pr0 { padding-right: 0; }
.pr1 { padding-right: 1px; }
.pr2 { padding-right: 2px; }
.pr3 { padding-right: 3px; }
.pr4 { padding-right: 4px; }
.pr5 { padding-right: 5px; }
.pr6 { padding-right: 6px; }
.pr7 { padding-right: 7px; }
.pr8 { padding-right: 8px; }
.pr9 { padding-right: 9px; }
.pr10 { padding-right: 10px; }
.pr11 { padding-right: 11px; }
.pr12 { padding-right: 12px; }
.pr13 { padding-right: 13px; }
.pr14 { padding-right: 14px; }
.pr15 { padding-right: 15px; }
.pr16 { padding-right: 16px; }
.pr17 { padding-right: 17px; }
.pr18 { padding-right: 18px; }
.pr19 { padding-right: 19px; }
.pr20 { padding-right: 20px; }
.pr21 { padding-right: 21px; }
.pr22 { padding-right: 22px; }
.pr23 { padding-right: 23px; }
.pr24 { padding-right: 24px; }
.pr25 { padding-right: 25px; }
.pr30 { padding-right: 30px; }
.pr35 { padding-right: 35px; }
.pr40 { padding-right: 40px; }
.pr45 { padding-right: 45px; }
.pr50 { padding-right: 50px; }
.pr55 { padding-right: 55px; }
.pr60 { padding-right: 60px; }
.pr65 { padding-right: 65px; }
.pr70 { padding-right: 70px; }
.pr75 { padding-right: 75px; }
.pr80 { padding-right: 80px; }
.pr85 { padding-right: 85px; }
.pr90 { padding-right: 90px; }
.pr95 { padding-right: 95px; }
.pr100 { padding-right: 100px; }
.pr105 { padding-right: 105px; }
.pr110 { padding-right: 110px; }
.pr115 { padding-right: 115px; }
.pr120 { padding-right: 120px; }
.pr125 { padding-right: 125px; }
.pr130 { padding-right: 130px; }
.pr135 { padding-right: 135px; }
.pr140 { padding-right: 140px; }
.pr145 { padding-right: 145px; }
.pr150 { padding-right: 150px; }

/* padding-left */
.pl0 { padding-left: 0; }
.pl1 { padding-left: 1px; }
.pl2 { padding-left: 2px; }
.pl3 { padding-left: 3px; }
.pl4 { padding-left: 4px; }
.pl5 { padding-left: 5px; }
.pl6 { padding-left: 6px; }
.pl7 { padding-left: 7px; }
.pl8 { padding-left: 8px; }
.pl9 { padding-left: 9px; }
.pl10 { padding-left: 10px; }
.pl11 { padding-left: 11px; }
.pl12 { padding-left: 12px; }
.pl13 { padding-left: 13px; }
.pl14 { padding-left: 14px; }
.pl15 { padding-left: 15px; }
.pl16 { padding-left: 16px; }
.pl17 { padding-left: 17px; }
.pl18 { padding-left: 18px; }
.pl19 { padding-left: 19px; }
.pl20 { padding-left: 20px; }
.pl21 { padding-left: 21px; }
.pl22 { padding-left: 22px; }
.pl23 { padding-left: 23px; }
.pl24 { padding-left: 24px; }
.pl25 { padding-left: 25px; }
.pl30 { padding-left: 30px; }
.pl35 { padding-left: 35px; }
.pl40 { padding-left: 40px; }
.pl45 { padding-left: 45px; }
.pl50 { padding-left: 50px; }
.pl55 { padding-left: 55px; }
.pl60 { padding-left: 60px; }
.pl65 { padding-left: 65px; }
.pl70 { padding-left: 70px; }
.pl75 { padding-left: 75px; }
.pl80 { padding-left: 80px; }
.pl85 { padding-left: 85px; }
.pl90 { padding-left: 90px; }
.pl95 { padding-left: 95px; }
.pl100 { padding-left: 100px; }
.pl105 { padding-left: 105px; }
.pl110 { padding-left: 110px; }
.pl115 { padding-left: 115px; }
.pl120 { padding-left: 120px; }
.pl125 { padding-left: 125px; }
.pl130 { padding-left: 130px; }
.pl135 { padding-left: 135px; }
.pl140 { padding-left: 140px; }
.pl145 { padding-left: 145px; }
.pl150 { padding-left: 150px; }

/* font-size */
.fs0 { font-size: 6px !important; }
.fs1 { font-size: 6px !important; }
.fs2 { font-size: 6px !important; }
.fs3 { font-size: 6px !important; }
.fs4 { font-size: 6px !important; }
.fs5 { font-size: 6px !important; }
.fs6 { font-size: 6px !important; }
.fs7 { font-size: 7px !important; }
.fs8 { font-size: 8px !important; }
.fs9 { font-size: 9px !important; }
.fs10 { font-size: 10px !important; }
.fs11 { font-size: 11px !important; }
.fs12 { font-size: 12px !important; }
.fs13 { font-size: 13px !important; }
.fs14 { font-size: 14px !important; }
.fs15 { font-size: 15px !important; }
.fs16 { font-size: 16px !important; }
.fs17 { font-size: 17px !important; }
.fs18 { font-size: 18px !important; }
.fs19 { font-size: 19px !important; }
.fs20 { font-size: 20px !important; }
.fs21 { font-size: 21px !important; }
.fs22 { font-size: 22px !important; }
.fs23 { font-size: 23px !important; }
.fs24 { font-size: 24px !important; }
.fs25 { font-size: 25px !important; }
.fs26 { font-size: 26px !important; }
.fs28 { font-size: 28px !important; }
.fs30 { font-size: 30px !important; }
.fs32 { font-size: 32px !important; }
.fs35 { font-size: 35px !important; }
.fs36 { font-size: 36px !important; }
.fs40 { font-size: 40px !important; }
.fs44 { font-size: 44px !important; }
.fs45 { font-size: 45px !important; }
.fs48 { font-size: 48px !important; }
.fs50 { font-size: 50px !important; }
.fs54 { font-size: 54px !important; }
.fs55 { font-size: 55px !important; }
.fs60 { font-size: 60px !important; }
.fs65 { font-size: 65px !important; }
.fs66 { font-size: 66px !important; }
.fs70 { font-size: 70px !important; }
.fs72 { font-size: 72px !important; }
.fs75 { font-size: 75px !important; }
.fs80 { font-size: 80px !important; }
.fs85 { font-size: 85px !important; }
.fs88 { font-size: 88px !important; }
.fs90 { font-size: 90px !important; }
.fs95 { font-size: 95px !important; }
.fs96 { font-size: 96px !important; }
.fs100 { font-size: 100px !important; }
.fs105 { font-size: 105px !important; }
.fs110 { font-size: 110px !important; }
.fs115 { font-size: 115px !important; }
.fs120 { font-size: 120px !important; }
.fs125 { font-size: 125px !important; }
.fs130 { font-size: 130px !important; }
.fs135 { font-size: 135px !important; }
.fs140 { font-size: 140px !important; }
.fs145 { font-size: 145px !important; }
.fs150 { font-size: 150px !important; }

/* font-weight */ 
.fw1, .fw10, .fw100 { font-weight: 100; }
.fw2, .fw20, .fw200 { font-weight: 200; }
.fw3, .fw30, .fw300 { font-weight: 300; }
.fw4, .fw40, .fw400 { font-weight: 400; }
.fw5, .fw50, .fw500 { font-weight: 500; }
.fw6, .fw60, .fw600 { font-weight: 600; }
.fw7, .fw70, .fw700 { font-weight: 700; }
.fw8, .fw80, .fw800 { font-weight: 800; }
.fw9, .fw90, .fw900 { font-weight: 900; }

/* line-height */
.lh0 { line-height: 0px !important; }
.lh1 { line-height: 1px !important; }
.lh2 { line-height: 2px !important; }
.lh3 { line-height: 3px !important; }
.lh4 { line-height: 4px !important; }
.lh5 { line-height: 5px !important; }
.lh6 { line-height: 6px !important; }
.lh7 { line-height: 7px !important; }
.lh8 { line-height: 8px !important; }
.lh9 { line-height: 9px !important; }
.lh10 { line-height: 10px !important; }
.lh11 { line-height: 11px !important; }
.lh12 { line-height: 12px !important; }
.lh13 { line-height: 13px !important; }
.lh14 { line-height: 14px !important; }
.lh15 { line-height: 15px !important; }
.lh16 { line-height: 16px !important; }
.lh17 { line-height: 17px !important; }
.lh18 { line-height: 18px !important; }
.lh19 { line-height: 19px !important; }
.lh20 { line-height: 20px !important; }
.lh21 { line-height: 21px !important; }
.lh22 { line-height: 22px !important; }
.lh23 { line-height: 23px !important; }
.lh24 { line-height: 24px !important; }
.lh25 { line-height: 25px !important; }
.lh26 { line-height: 26px !important; }
.lh28 { line-height: 28px !important; }
.lh30 { line-height: 30px !important; }
.lh32 { line-height: 32px !important; }
.lh35 { line-height: 35px !important; }
.lh36 { line-height: 36px !important; }
.lh40 { line-height: 40px !important; }
.lh44 { line-height: 44px !important; }
.lh45 { line-height: 45px !important; }
.lh48 { line-height: 48px !important; }
.lh50 { line-height: 50px !important; }
.lh54 { line-height: 54px !important; }
.lh55 { line-height: 55px !important; }
.lh60 { line-height: 60px !important; }
.lh65 { line-height: 65px !important; }
.lh66 { line-height: 66px !important; }
.lh70 { line-height: 70px !important; }
.lh72 { line-height: 72px !important; }
.lh75 { line-height: 75px !important; }
.lh80 { line-height: 80px !important; }
.lh85 { line-height: 85px !important; }
.lh88 { line-height: 88px !important; }
.lh90 { line-height: 90px !important; }
.lh95 { line-height: 95px !important; }
.lh96 { line-height: 96px !important; }
.lh100 { line-height: 100px !important; }
.lh105 { line-height: 105px !important; }
.lh110 { line-height: 110px !important; }
.lh115 { line-height: 115px !important; }
.lh120 { line-height: 120px !important; }
.lh125 { line-height: 125px !important; }
.lh130 { line-height: 130px !important; }
.lh135 { line-height: 135px !important; }
.lh140 { line-height: 140px !important; }
.lh145 { line-height: 145px !important; }
.lh150 { line-height: 150px !important; }

/* top */
.t0 { top: 0; }
.t1 { top: 1px; }
.t2 { top: 2px; }
.t3 { top: 3px; }
.t4 { top: 4px; }
.t5 { top: 5px; }
.t6 { top: 6px; }
.t7 { top: 7px; }
.t8 { top: 8px; }
.t9 { top: 9px; }
.t10 { top: 10px; }
.t11 { top: 11px; }
.t12 { top: 12px; }
.t13 { top: 13px; }
.t14 { top: 14px; }
.t15 { top: 15px; }
.t16 { top: 16px; }
.t17 { top: 17px; }
.t18 { top: 18px; }
.t19 { top: 19px; }
.t20 { top: 20px; }
.t21 { top: 21px; }
.t22 { top: 22px; }
.t23 { top: 23px; }
.t24 { top: 24px; }
.t25 { top: 25px; }
.t30 { top: 30px; }
.t35 { top: 35px; }
.t40 { top: 40px; }
.t45 { top: 45px; }
.t50 { top: 50px; }
.t55 { top: 55px; }
.t60 { top: 60px; }
.t65 { top: 65px; }
.t70 { top: 70px; }
.t75 { top: 75px; }
.t80 { top: 80px; }
.t85 { top: 85px; }
.t90 { top: 90px; }
.t95 { top: 95px; }
.t100 { top: 100px; }
.t105 { top: 105px; }
.t110 { top: 110px; }
.t115 { top: 115px; }
.t120 { top: 120px; }
.t125 { top: 125px; }
.t130 { top: 130px; }
.t135 { top: 135px; }
.t140 { top: 140px; }
.t145 { top: 145px; }
.t150 { top: 150px; }

/* bottom */
.b0 { bottom: 0; }
.b1 { bottom: 1px; }
.b2 { bottom: 2px; }
.b3 { bottom: 3px; }
.b4 { bottom: 4px; }
.b5 { bottom: 5px; }
.b6 { bottom: 6px; }
.b7 { bottom: 7px; }
.b8 { bottom: 8px; }
.b9 { bottom: 9px; }
.b10 { bottom: 10px; }
.b11 { bottom: 11px; }
.b12 { bottom: 12px; }
.b13 { bottom: 13px; }
.b14 { bottom: 14px; }
.b15 { bottom: 15px; }
.b16 { bottom: 16px; }
.b17 { bottom: 17px; }
.b18 { bottom: 18px; }
.b19 { bottom: 19px; }
.b20 { bottom: 20px; }
.b21 { bottom: 21px; }
.b22 { bottom: 22px; }
.b23 { bottom: 23px; }
.b24 { bottom: 24px; }
.b25 { bottom: 25px; }
.b30 { bottom: 30px; }
.b35 { bottom: 35px; }
.b40 { bottom: 40px; }
.b45 { bottom: 45px; }
.b50 { bottom: 50px; }
.b55 { bottom: 55px; }
.b60 { bottom: 60px; }
.b65 { bottom: 65px; }
.b70 { bottom: 70px; }
.b75 { bottom: 75px; }
.b80 { bottom: 80px; }
.b85 { bottom: 85px; }
.b90 { bottom: 90px; }
.b95 { bottom: 95px; }
.b100 { bottom: 100px; }
.b105 { bottom: 105px; }
.b110 { bottom: 110px; }
.b115 { bottom: 115px; }
.b120 { bottom: 120px; }
.b125 { bottom: 125px; }
.b130 { bottom: 130px; }
.b135 { bottom: 135px; }
.b140 { bottom: 140px; }
.b145 { bottom: 145px; }
.b150 { bottom: 150px; }

/* left */
.l0 { left: 0; }
.l1 { left: 1px; }
.l2 { left: 2px; }
.l3 { left: 3px; }
.l4 { left: 4px; }
.l5 { left: 5px; }
.l6 { left: 6px; }
.l7 { left: 7px; }
.l8 { left: 8px; }
.l9 { left: 9px; }
.l10 { left: 10px; }
.l11 { left: 11px; }
.l12 { left: 12px; }
.l13 { left: 13px; }
.l14 { left: 14px; }
.l15 { left: 15px; }
.l16 { left: 16px; }
.l17 { left: 17px; }
.l18 { left: 18px; }
.l19 { left: 19px; }
.l20 { left: 20px; }
.l21 { left: 21px; }
.l22 { left: 22px; }
.l23 { left: 23px; }
.l24 { left: 24px; }
.l25 { left: 25px; }
.l30 { left: 30px; }
.l35 { left: 35px; }
.l40 { left: 40px; }
.l45 { left: 45px; }
.l50 { left: 50px; }
.l55 { left: 55px; }
.l60 { left: 60px; }
.l65 { left: 65px; }
.l70 { left: 70px; }
.l75 { left: 75px; }
.l80 { left: 80px; }
.l85 { left: 85px; }
.l90 { left: 90px; }
.l95 { left: 95px; }
.l100 { left: 100px; }
.l105 { left: 105px; }
.l110 { left: 110px; }
.l115 { left: 115px; }
.l120 { left: 120px; }
.l125 { left: 125px; }
.l130 { left: 130px; }
.l135 { left: 135px; }
.l140 { left: 140px; }
.l145 { left: 145px; }
.l150 { left: 150px; }

/* right */
.r0 { right: 0; }
.r1 { right: 1px; }
.r2 { right: 2px; }
.r3 { right: 3px; }
.r4 { right: 4px; }
.r5 { right: 5px; }
.r6 { right: 6px; }
.r7 { right: 7px; }
.r8 { right: 8px; }
.r9 { right: 9px; }
.r10 { right: 10px; }
.r11 { right: 11px; }
.r12 { right: 12px; }
.r13 { right: 13px; }
.r14 { right: 14px; }
.r15 { right: 15px; }
.r16 { right: 16px; }
.r17 { right: 17px; }
.r18 { right: 18px; }
.r19 { right: 19px; }
.r20 { right: 20px; }
.r21 { right: 21px; }
.r22 { right: 22px; }
.r23 { right: 23px; }
.r24 { right: 24px; }
.r25 { right: 25px; }
.r30 { right: 30px; }
.r35 { right: 35px; }
.r40 { right: 40px; }
.r45 { right: 45px; }
.r50 { right: 50px; }
.r55 { right: 55px; }
.r60 { right: 60px; }
.r65 { right: 65px; }
.r70 { right: 70px; }
.r75 { right: 75px; }
.r80 { right: 80px; }
.r85 { right: 85px; }
.r90 { right: 90px; }
.r95 { right: 95px; }
.r100 { right: 100px; }
.r105 { right: 105px; }
.r110 { right: 110px; }
.r115 { right: 115px; }
.r120 { right: 120px; }
.r125 { right: 125px; }
.r130 { right: 130px; }
.r135 { right: 135px; }
.r140 { right: 140px; }
.r145 { right: 145px; }
.r150 { right: 150px; }

/* border-radius */
.br0 { border-radius: 0; }
.br1 { border-radius: 1px; }
.br2 { border-radius: 2px; }
.br3 { border-radius: 3px; }
.br4 { border-radius: 4px; }
.br5 { border-radius: 5px; }
.br6 { border-radius: 6px; }
.br7 { border-radius: 7px; }
.br8 { border-radius: 8px; }
.br9 { border-radius: 9px; }
.br10 { border-radius: 10px; }
.br11 { border-radius: 11px; }
.br12 { border-radius: 12px; }
.br13 { border-radius: 13px; }
.br14 { border-radius: 14px; }
.br15 { border-radius: 15px; }
.br16 { border-radius: 16px; }
.br17 { border-radius: 17px; }
.br18 { border-radius: 18px; }
.br19 { border-radius: 19px; }
.br20 { border-radius: 20px; }
.br21 { border-radius: 21px; }
.br22 { border-radius: 22px; }
.br23 { border-radius: 23px; }
.br24 { border-radius: 24px; }
.br25 { border-radius: 25px; }
.br30 { border-radius: 30px; }
.br35 { border-radius: 35px; }
.br40 { border-radius: 40px; }
.br45 { border-radius: 45px; }
.br50 { border-radius: 50px; }
.br55 { border-radius: 55px; }
.br60 { border-radius: 60px; }
.br65 { border-radius: 65px; }
.br70 { border-radius: 70px; }
.br75 { border-radius: 75px; }
.br80 { border-radius: 80px; }
.br85 { border-radius: 85px; }
.br90 { border-radius: 90px; }
.br95 { border-radius: 95px; }
.br100 { border-radius: 100px; }
.br105 { border-radius: 105px; }
.br110 { border-radius: 110px; }
.br115 { border-radius: 115px; }
.br120 { border-radius: 120px; }
.br125 { border-radius: 125px; }
.br130 { border-radius: 130px; }
.br135 { border-radius: 135px; }
.br140 { border-radius: 140px; }
.br145 { border-radius: 145px; }
.br150 { border-radius: 150px; }

/* z-index */
.z0 { z-index: 0; }
.z1 { z-index: 1; }
.z2 { z-index: 2; }
.z3 { z-index: 3; }
.z4 { z-index: 4; }
.z5 { z-index: 5; }
.z6 { z-index: 6; }
.z7 { z-index: 7; }
.z8 { z-index: 8; }
.z9 { z-index: 9; }
.z10 { z-index: 10; }
.z11 { z-index: 11; }
.z12 { z-index: 12; }
.z13 { z-index: 13; }
.z14 { z-index: 14; }
.z15 { z-index: 15; }
.z16 { z-index: 16; }
.z17 { z-index: 17; }
.z18 { z-index: 18; }
.z19 { z-index: 19; }
.z20 { z-index: 20; }
.z21 { z-index: 21; }
.z22 { z-index: 22; }
.z23 { z-index: 23; }
.z24 { z-index: 24; }
.z25 { z-index: 25; }
.z30 { z-index: 30; }
.z35 { z-index: 35; }
.z40 { z-index: 40; }
.z45 { z-index: 45; }
.z50 { z-index: 50; }
.z55 { z-index: 55; }
.z60 { z-index: 60; }
.z65 { z-index: 65; }
.z70 { z-index: 70; }
.z75 { z-index: 75; }
.z80 { z-index: 80; }
.z85 { z-index: 85; }
.z90 { z-index: 90; }
.z95 { z-index: 95; }
.z100 { z-index: 100; }
.z105 { z-index: 105; }
.z110 { z-index: 110; }
.z115 { z-index: 115; }
.z120 { z-index: 120; }
.z125 { z-index: 125; }
.z130 { z-index: 130; }
.z135 { z-index: 135; }
.z140 { z-index: 140; }
.z145 { z-index: 145; }
.z150 { z-index: 150; }
.z200 { z-index: 200; }
.z300 { z-index: 300; }
.z400 { z-index: 400; }
.z500 { z-index: 500; }
.z600 { z-index: 600; }
.z700 { z-index: 700; }
.z800 { z-index: 800; }
.z900 { z-index: 900; }
.z1000 { z-index: 1000; }
.z1100 { z-index: 1100; }
.z1200 { z-index: 1200; }
.z1300 { z-index: 1300; }
.z1400 { z-index: 1400; }
.z1500 { z-index: 1500; }
.z1600 { z-index: 1600; }
.z1700 { z-index: 1700; }
.z1800 { z-index: 1800; }
.z1900 { z-index: 1900; }
.z2000 { z-index: 2000; }
.z2100 { z-index: 2100; }
.z2200 { z-index: 2200; }
.z2300 { z-index: 2300; }
.z2400 { z-index: 2400; }
.z2500 { z-index: 2500; }
.z2600 { z-index: 2600; }
.z2700 { z-index: 2700; }
.z2800 { z-index: 2800; }
.z2900 { z-index: 2900; }
.z3000 { z-index: 3000; }
.z3100 { z-index: 3100; }
.z3200 { z-index: 3200; }
.z3300 { z-index: 3300; }
.z3400 { z-index: 3400; }
.z3500 { z-index: 3500; }
.z3600 { z-index: 3600; }
.z3700 { z-index: 3700; }
.z3800 { z-index: 3800; }
.z3900 { z-index: 3900; }
.z4000 { z-index: 4000; }
.z4100 { z-index: 4100; }
.z4200 { z-index: 4200; }
.z4300 { z-index: 4300; }
.z4400 { z-index: 4400; }
.z4500 { z-index: 4500; }
.z4600 { z-index: 4600; }
.z4700 { z-index: 4700; }
.z4800 { z-index: 4800; }
.z4900 { z-index: 4900; }
.z5000 { z-index: 5000; }
.z6000 { z-index: 6000; }
.z6100 { z-index: 6100; }
.z6200 { z-index: 6200; }
.z6300 { z-index: 6300; }
.z6400 { z-index: 6400; }
.z6500 { z-index: 6500; }
.z6600 { z-index: 6600; }
.z6700 { z-index: 6700; }
.z6800 { z-index: 6800; }
.z6900 { z-index: 6900; }
.z7000 { z-index: 7000; }
.z7100 { z-index: 7100; }
.z7200 { z-index: 7200; }
.z7300 { z-index: 7300; }
.z7400 { z-index: 7400; }
.z7500 { z-index: 7500; }
.z7600 { z-index: 7600; }
.z7700 { z-index: 7700; }
.z7800 { z-index: 7800; }
.z7900 { z-index: 7900; }
.z8000 { z-index: 8000; }
.z8100 { z-index: 8100; }
.z8200 { z-index: 8200; }
.z8300 { z-index: 8300; }
.z8400 { z-index: 8400; }
.z8500 { z-index: 8500; }
.z8600 { z-index: 8600; }
.z8700 { z-index: 8700; }
.z8800 { z-index: 8800; }
.z8900 { z-index: 8900; }
.z9000 { z-index: 9000; }
.z9100 { z-index: 9100; }
.z9200 { z-index: 9200; }
.z9300 { z-index: 9300; }
.z9400 { z-index: 9400; }
.z9500 { z-index: 9500; }
.z9600 { z-index: 9600; }
.z9700 { z-index: 9700; }
.z9800 { z-index: 9800; }
.z9900 { z-index: 9900; }
.z10000 { z-index: 10000; }
