/* 
    Authors     : Perry Faro & Rick van der Wolk
*/
/* 
    Authors     : Perry Faro & Rick van der Wolk
*/
/* border-radius */
.br0 {
  border-radius: 0;
}

.br1 {
  border-radius: 1px;
}

.br2 {
  border-radius: 2px;
}

.br3 {
  border-radius: 3px;
}

.br4 {
  border-radius: 4px;
}

.br5 {
  border-radius: 5px;
}

.br6 {
  border-radius: 6px;
}

.br7 {
  border-radius: 7px;
}

.br8 {
  border-radius: 8px;
}

.br9 {
  border-radius: 9px;
}

.br10 {
  border-radius: 10px;
}

.br11 {
  border-radius: 11px;
}

.br12 {
  border-radius: 12px;
}

.br13 {
  border-radius: 13px;
}

.br14 {
  border-radius: 14px;
}

.br15 {
  border-radius: 15px;
}

.br16 {
  border-radius: 16px;
}

.br17 {
  border-radius: 17px;
}

.br18 {
  border-radius: 18px;
}

.br19 {
  border-radius: 19px;
}

.br20 {
  border-radius: 20px;
}

.br21 {
  border-radius: 21px;
}

.br22 {
  border-radius: 22px;
}

.br23 {
  border-radius: 23px;
}

.br24 {
  border-radius: 24px;
}

.br25 {
  border-radius: 25px;
}

.br30 {
  border-radius: 30px;
}

.br35 {
  border-radius: 35px;
}

.br40 {
  border-radius: 40px;
}

.br45 {
  border-radius: 45px;
}

.br50 {
  border-radius: 50px;
}

.br55 {
  border-radius: 55px;
}

.br60 {
  border-radius: 60px;
}

.br65 {
  border-radius: 65px;
}

.br70 {
  border-radius: 70px;
}

.br75 {
  border-radius: 75px;
}

.br80 {
  border-radius: 80px;
}

.br85 {
  border-radius: 85px;
}

.br90 {
  border-radius: 90px;
}

.br95 {
  border-radius: 95px;
}

.br100 {
  border-radius: 100px;
}

.br105 {
  border-radius: 105px;
}

.br110 {
  border-radius: 110px;
}

.br115 {
  border-radius: 115px;
}

.br120 {
  border-radius: 120px;
}

.br125 {
  border-radius: 125px;
}

.br130 {
  border-radius: 130px;
}

.br135 {
  border-radius: 135px;
}

.br140 {
  border-radius: 140px;
}

.br145 {
  border-radius: 145px;
}

.br150 {
  border-radius: 150px;
}

/* border */
.bd0 {
  border: 0;
}

.bd1 {
  border: 1px;
}

.bd2 {
  border: 2px;
}

.bd3 {
  border: 3px;
}

.bd4 {
  border: 4px;
}

.bd5 {
  border: 5px;
}

.bd6 {
  border: 6px;
}

.bd7 {
  border: 7px;
}

.bd8 {
  border: 8px;
}

.bd9 {
  border: 9px;
}

.bd10 {
  border: 10px;
}

.bd11 {
  border: 11px;
}

.bd12 {
  border: 12px;
}

.bd13 {
  border: 13px;
}

.bd14 {
  border: 14px;
}

.bd15 {
  border: 15px;
}

.bd16 {
  border: 16px;
}

.bd17 {
  border: 17px;
}

.bd18 {
  border: 18px;
}

.bd19 {
  border: 19px;
}

.bd20 {
  border: 20px;
}

.bd21 {
  border: 21px;
}

.bd22 {
  border: 22px;
}

.bd23 {
  border: 23px;
}

.bd24 {
  border: 24px;
}

.bd25 {
  border: 25px;
}

.bd30 {
  border: 30px;
}

.bd35 {
  border: 35px;
}

.bd40 {
  border: 40px;
}

.bd45 {
  border: 45px;
}

.bd50 {
  border: 50px;
}

.bd55 {
  border: 55px;
}

.bd60 {
  border: 60px;
}

.bd65 {
  border: 65px;
}

.bd70 {
  border: 70px;
}

.bd75 {
  border: 75px;
}

.bd80 {
  border: 80px;
}

.bd85 {
  border: 85px;
}

.bd90 {
  border: 90px;
}

.bd95 {
  border: 95px;
}

.bd100 {
  border: 100px;
}

.bd105 {
  border: 105px;
}

.bd110 {
  border: 110px;
}

.bd115 {
  border: 115px;
}

.bd120 {
  border: 120px;
}

.bd125 {
  border: 125px;
}

.bd130 {
  border: 130px;
}

.bd135 {
  border: 135px;
}

.bd140 {
  border: 140px;
}

.bd145 {
  border: 145px;
}

.bd150 {
  border: 150px;
}

/* border-top */
.bdt0 {
  border-top: 0;
}

.bdt1 {
  border-top: 1px;
}

.bdt2 {
  border-top: 2px;
}

.bdt3 {
  border-top: 3px;
}

.bdt4 {
  border-top: 4px;
}

.bdt5 {
  border-top: 5px;
}

.bdt6 {
  border-top: 6px;
}

.bdt7 {
  border-top: 7px;
}

.bdt8 {
  border-top: 8px;
}

.bdt9 {
  border-top: 9px;
}

.bdt10 {
  border-top: 10px;
}

.bdt11 {
  border-top: 11px;
}

.bdt12 {
  border-top: 12px;
}

.bdt13 {
  border-top: 13px;
}

.bdt14 {
  border-top: 14px;
}

.bdt15 {
  border-top: 15px;
}

.bdt16 {
  border-top: 16px;
}

.bdt17 {
  border-top: 17px;
}

.bdt18 {
  border-top: 18px;
}

.bdt19 {
  border-top: 19px;
}

.bdt20 {
  border-top: 20px;
}

.bdt21 {
  border-top: 21px;
}

.bdt22 {
  border-top: 22px;
}

.bdt23 {
  border-top: 23px;
}

.bdt24 {
  border-top: 24px;
}

.bdt25 {
  border-top: 25px;
}

.bdt30 {
  border-top: 30px;
}

.bdt35 {
  border-top: 35px;
}

.bdt40 {
  border-top: 40px;
}

.bdt45 {
  border-top: 45px;
}

.bdt50 {
  border-top: 50px;
}

.bdt55 {
  border-top: 55px;
}

.bdt60 {
  border-top: 60px;
}

.bdt65 {
  border-top: 65px;
}

.bdt70 {
  border-top: 70px;
}

.bdt75 {
  border-top: 75px;
}

.bdt80 {
  border-top: 80px;
}

.bdt85 {
  border-top: 85px;
}

.bdt90 {
  border-top: 90px;
}

.bdt95 {
  border-top: 95px;
}

.bdt100 {
  border-top: 100px;
}

.bdt105 {
  border-top: 105px;
}

.bdt110 {
  border-top: 110px;
}

.bdt115 {
  border-top: 115px;
}

.bdt120 {
  border-top: 120px;
}

.bdt125 {
  border-top: 125px;
}

.bdt130 {
  border-top: 130px;
}

.bdt135 {
  border-top: 135px;
}

.bdt140 {
  border-top: 140px;
}

.bdt145 {
  border-top: 145px;
}

.bdt150 {
  border-top: 150px;
}

/* border-bottom */
.bdb0 {
  border-bottom: 0;
}

.bdb1 {
  border-bottom: 1px;
}

.bdb2 {
  border-bottom: 2px;
}

.bdb3 {
  border-bottom: 3px;
}

.bdb4 {
  border-bottom: 4px;
}

.bdb5 {
  border-bottom: 5px;
}

.bdb6 {
  border-bottom: 6px;
}

.bdb7 {
  border-bottom: 7px;
}

.bdb8 {
  border-bottom: 8px;
}

.bdb9 {
  border-bottom: 9px;
}

.bdb10 {
  border-bottom: 10px;
}

.bdb11 {
  border-bottom: 11px;
}

.bdb12 {
  border-bottom: 12px;
}

.bdb13 {
  border-bottom: 13px;
}

.bdb14 {
  border-bottom: 14px;
}

.bdb15 {
  border-bottom: 15px;
}

.bdb16 {
  border-bottom: 16px;
}

.bdb17 {
  border-bottom: 17px;
}

.bdb18 {
  border-bottom: 18px;
}

.bdb19 {
  border-bottom: 19px;
}

.bdb20 {
  border-bottom: 20px;
}

.bdb21 {
  border-bottom: 21px;
}

.bdb22 {
  border-bottom: 22px;
}

.bdb23 {
  border-bottom: 23px;
}

.bdb24 {
  border-bottom: 24px;
}

.bdb25 {
  border-bottom: 25px;
}

.bdb30 {
  border-bottom: 30px;
}

.bdb35 {
  border-bottom: 35px;
}

.bdb40 {
  border-bottom: 40px;
}

.bdb45 {
  border-bottom: 45px;
}

.bdb50 {
  border-bottom: 50px;
}

.bdb55 {
  border-bottom: 55px;
}

.bdb60 {
  border-bottom: 60px;
}

.bdb65 {
  border-bottom: 65px;
}

.bdb70 {
  border-bottom: 70px;
}

.bdb75 {
  border-bottom: 75px;
}

.bdb80 {
  border-bottom: 80px;
}

.bdb85 {
  border-bottom: 85px;
}

.bdb90 {
  border-bottom: 90px;
}

.bdb95 {
  border-bottom: 95px;
}

.bdb100 {
  border-bottom: 100px;
}

.bdb105 {
  border-bottom: 105px;
}

.bdb110 {
  border-bottom: 110px;
}

.bdb115 {
  border-bottom: 115px;
}

.bdb120 {
  border-bottom: 120px;
}

.bdb125 {
  border-bottom: 125px;
}

.bdb130 {
  border-bottom: 130px;
}

.bdb135 {
  border-bottom: 135px;
}

.bdb140 {
  border-bottom: 140px;
}

.bdb145 {
  border-bottom: 145px;
}

.bdb150 {
  border-bottom: 150px;
}

/* border-left */
.bdl0 {
  border-left: 0;
}

.bdl1 {
  border-left: 1px;
}

.bdl2 {
  border-left: 2px;
}

.bdl3 {
  border-left: 3px;
}

.bdl4 {
  border-left: 4px;
}

.bdl5 {
  border-left: 5px;
}

.bdl6 {
  border-left: 6px;
}

.bdl7 {
  border-left: 7px;
}

.bdl8 {
  border-left: 8px;
}

.bdl9 {
  border-left: 9px;
}

.bdl10 {
  border-left: 10px;
}

.bdl11 {
  border-left: 11px;
}

.bdl12 {
  border-left: 12px;
}

.bdl13 {
  border-left: 13px;
}

.bdl14 {
  border-left: 14px;
}

.bdl15 {
  border-left: 15px;
}

.bdl16 {
  border-left: 16px;
}

.bdl17 {
  border-left: 17px;
}

.bdl18 {
  border-left: 18px;
}

.bdl19 {
  border-left: 19px;
}

.bdl20 {
  border-left: 20px;
}

.bdl21 {
  border-left: 21px;
}

.bdl22 {
  border-left: 22px;
}

.bdl23 {
  border-left: 23px;
}

.bdl24 {
  border-left: 24px;
}

.bdl25 {
  border-left: 25px;
}

.bdl30 {
  border-left: 30px;
}

.bdl35 {
  border-left: 35px;
}

.bdl40 {
  border-left: 40px;
}

.bdl45 {
  border-left: 45px;
}

.bdl50 {
  border-left: 50px;
}

.bdl55 {
  border-left: 55px;
}

.bdl60 {
  border-left: 60px;
}

.bdl65 {
  border-left: 65px;
}

.bdl70 {
  border-left: 70px;
}

.bdl75 {
  border-left: 75px;
}

.bdl80 {
  border-left: 80px;
}

.bdl85 {
  border-left: 85px;
}

.bdl90 {
  border-left: 90px;
}

.bdl95 {
  border-left: 95px;
}

.bdl100 {
  border-left: 100px;
}

.bdl105 {
  border-left: 105px;
}

.bdl110 {
  border-left: 110px;
}

.bdl115 {
  border-left: 115px;
}

.bdl120 {
  border-left: 120px;
}

.bdl125 {
  border-left: 125px;
}

.bdl130 {
  border-left: 130px;
}

.bdl135 {
  border-left: 135px;
}

.bdl140 {
  border-left: 140px;
}

.bdl145 {
  border-left: 145px;
}

.bdl150 {
  border-left: 150px;
}

/* border-right */
.bdr0 {
  border-right: 0;
}

.bdr1 {
  border-right: 1px;
}

.bdr2 {
  border-right: 2px;
}

.bdr3 {
  border-right: 3px;
}

.bdr4 {
  border-right: 4px;
}

.bdr5 {
  border-right: 5px;
}

.bdr6 {
  border-right: 6px;
}

.bdr7 {
  border-right: 7px;
}

.bdr8 {
  border-right: 8px;
}

.bdr9 {
  border-right: 9px;
}

.bdr10 {
  border-right: 10px;
}

.bdr11 {
  border-right: 11px;
}

.bdr12 {
  border-right: 12px;
}

.bdr13 {
  border-right: 13px;
}

.bdr14 {
  border-right: 14px;
}

.bdr15 {
  border-right: 15px;
}

.bdr16 {
  border-right: 16px;
}

.bdr17 {
  border-right: 17px;
}

.bdr18 {
  border-right: 18px;
}

.bdr19 {
  border-right: 19px;
}

.bdr20 {
  border-right: 20px;
}

.bdr21 {
  border-right: 21px;
}

.bdr22 {
  border-right: 22px;
}

.bdr23 {
  border-right: 23px;
}

.bdr24 {
  border-right: 24px;
}

.bdr25 {
  border-right: 25px;
}

.bdr30 {
  border-right: 30px;
}

.bdr35 {
  border-right: 35px;
}

.bdr40 {
  border-right: 40px;
}

.bdr45 {
  border-right: 45px;
}

.bdr50 {
  border-right: 50px;
}

.bdr55 {
  border-right: 55px;
}

.bdr60 {
  border-right: 60px;
}

.bdr65 {
  border-right: 65px;
}

.bdr70 {
  border-right: 70px;
}

.bdr75 {
  border-right: 75px;
}

.bdr80 {
  border-right: 80px;
}

.bdr85 {
  border-right: 85px;
}

.bdr90 {
  border-right: 90px;
}

.bdr95 {
  border-right: 95px;
}

.bdr100 {
  border-right: 100px;
}

.bdr105 {
  border-right: 105px;
}

.bdr110 {
  border-right: 110px;
}

.bdr115 {
  border-right: 115px;
}

.bdr120 {
  border-right: 120px;
}

.bdr125 {
  border-right: 125px;
}

.bdr130 {
  border-right: 130px;
}

.bdr135 {
  border-right: 135px;
}

.bdr140 {
  border-right: 140px;
}

.bdr145 {
  border-right: 145px;
}

.bdr150 {
  border-right: 150px;
}

/* 
    Authors     : Perry Faro & Rick van der Wolk
*/
.clr, .clear, .clear-both, .clearfix {
  clear: both;
}

.cf, .clear-float, .fc, .float-clear {
  clear: both;
}

.fl, .left, .float-left {
  float: left;
}

.fn, .float-none {
  float: none;
}

.fr, .right, .float-right {
  float: right;
}

/* font options */
/* 
    Authors     : Perry Faro & Rick van der Wolk
*/
/* font-size */
.fs0 {
  font-size: 6px !important;
}

.fs1 {
  font-size: 6px !important;
}

.fs2 {
  font-size: 6px !important;
}

.fs3 {
  font-size: 6px !important;
}

.fs4 {
  font-size: 6px !important;
}

.fs5 {
  font-size: 6px !important;
}

.fs6 {
  font-size: 6px !important;
}

.fs7 {
  font-size: 7px !important;
}

.fs8 {
  font-size: 8px !important;
}

.fs9 {
  font-size: 9px !important;
}

.fs10 {
  font-size: 10px !important;
}

.fs11 {
  font-size: 11px !important;
}

.fs12 {
  font-size: 12px !important;
}

.fs13 {
  font-size: 13px !important;
}

.fs14 {
  font-size: 14px !important;
}

.fs15 {
  font-size: 15px !important;
}

.fs16 {
  font-size: 16px !important;
}

.fs17 {
  font-size: 17px !important;
}

.fs18 {
  font-size: 18px !important;
}

.fs19 {
  font-size: 19px !important;
}

.fs20 {
  font-size: 20px !important;
}

.fs21 {
  font-size: 21px !important;
}

.fs22 {
  font-size: 22px !important;
}

.fs23 {
  font-size: 23px !important;
}

.fs24 {
  font-size: 24px !important;
}

.fs25 {
  font-size: 25px !important;
}

.fs26 {
  font-size: 26px !important;
}

.fs28 {
  font-size: 28px !important;
}

.fs30 {
  font-size: 30px !important;
}

.fs32 {
  font-size: 32px !important;
}

.fs35 {
  font-size: 35px !important;
}

.fs36 {
  font-size: 36px !important;
}

.fs40 {
  font-size: 40px !important;
}

.fs44 {
  font-size: 44px !important;
}

.fs45 {
  font-size: 45px !important;
}

.fs48 {
  font-size: 48px !important;
}

.fs50 {
  font-size: 50px !important;
}

.fs54 {
  font-size: 54px !important;
}

.fs55 {
  font-size: 55px !important;
}

.fs60 {
  font-size: 60px !important;
}

.fs65 {
  font-size: 65px !important;
}

.fs66 {
  font-size: 66px !important;
}

.fs70 {
  font-size: 70px !important;
}

.fs72 {
  font-size: 72px !important;
}

.fs75 {
  font-size: 75px !important;
}

.fs80 {
  font-size: 80px !important;
}

.fs85 {
  font-size: 85px !important;
}

.fs88 {
  font-size: 88px !important;
}

.fs90 {
  font-size: 90px !important;
}

.fs95 {
  font-size: 95px !important;
}

.fs96 {
  font-size: 96px !important;
}

.fs100 {
  font-size: 100px !important;
}

.fs105 {
  font-size: 105px !important;
}

.fs110 {
  font-size: 110px !important;
}

.fs115 {
  font-size: 115px !important;
}

.fs120 {
  font-size: 120px !important;
}

.fs125 {
  font-size: 125px !important;
}

.fs130 {
  font-size: 130px !important;
}

.fs135 {
  font-size: 135px !important;
}

.fs140 {
  font-size: 140px !important;
}

.fs145 {
  font-size: 145px !important;
}

.fs150 {
  font-size: 150px !important;
}

/* 
    Authors     : Perry Faro & Rick van der Wolk
*/
.fw1, .fw10, .fw100 {
  font-weight: 100;
}

.fw2, .fw20, .fw200 {
  font-weight: 200;
}

.fw3, .fw30, .fw300 {
  font-weight: 300;
}

.fw4, .fw40, .fw400 {
  font-weight: 400;
}

.fw5, .fw50, .fw500 {
  font-weight: 500;
}

.fw6, .fw60, .fw600 {
  font-weight: 600;
}

.fw7, .fw70, .fw700 {
  font-weight: 700;
}

.fw8, .fw80, .fw800 {
  font-weight: 800;
}

.fw9, .fw90, .fw900 {
  font-weight: 900;
}

/* 
    Authors     : Perry Faro & Rick van der Wolk
*/
/* line-height */
.lh0 {
  line-height: 0px !important;
}

.lh1 {
  line-height: 1px !important;
}

.lh2 {
  line-height: 2px !important;
}

.lh3 {
  line-height: 3px !important;
}

.lh4 {
  line-height: 4px !important;
}

.lh5 {
  line-height: 5px !important;
}

.lh6 {
  line-height: 6px !important;
}

.lh7 {
  line-height: 7px !important;
}

.lh8 {
  line-height: 8px !important;
}

.lh9 {
  line-height: 9px !important;
}

.lh10 {
  line-height: 10px !important;
}

.lh11 {
  line-height: 11px !important;
}

.lh12 {
  line-height: 12px !important;
}

.lh13 {
  line-height: 13px !important;
}

.lh14 {
  line-height: 14px !important;
}

.lh15 {
  line-height: 15px !important;
}

.lh16 {
  line-height: 16px !important;
}

.lh17 {
  line-height: 17px !important;
}

.lh18 {
  line-height: 18px !important;
}

.lh19 {
  line-height: 19px !important;
}

.lh20 {
  line-height: 20px !important;
}

.lh21 {
  line-height: 21px !important;
}

.lh22 {
  line-height: 22px !important;
}

.lh23 {
  line-height: 23px !important;
}

.lh24 {
  line-height: 24px !important;
}

.lh25 {
  line-height: 25px !important;
}

.lh26 {
  line-height: 26px !important;
}

.lh28 {
  line-height: 28px !important;
}

.lh30 {
  line-height: 30px !important;
}

.lh32 {
  line-height: 32px !important;
}

.lh35 {
  line-height: 35px !important;
}

.lh36 {
  line-height: 36px !important;
}

.lh40 {
  line-height: 40px !important;
}

.lh44 {
  line-height: 44px !important;
}

.lh45 {
  line-height: 45px !important;
}

.lh48 {
  line-height: 48px !important;
}

.lh50 {
  line-height: 50px !important;
}

.lh54 {
  line-height: 54px !important;
}

.lh55 {
  line-height: 55px !important;
}

.lh60 {
  line-height: 60px !important;
}

.lh65 {
  line-height: 65px !important;
}

.lh66 {
  line-height: 66px !important;
}

.lh70 {
  line-height: 70px !important;
}

.lh72 {
  line-height: 72px !important;
}

.lh75 {
  line-height: 75px !important;
}

.lh80 {
  line-height: 80px !important;
}

.lh85 {
  line-height: 85px !important;
}

.lh88 {
  line-height: 88px !important;
}

.lh90 {
  line-height: 90px !important;
}

.lh95 {
  line-height: 95px !important;
}

.lh96 {
  line-height: 96px !important;
}

.lh100 {
  line-height: 100px !important;
}

.lh105 {
  line-height: 105px !important;
}

.lh110 {
  line-height: 110px !important;
}

.lh115 {
  line-height: 115px !important;
}

.lh120 {
  line-height: 120px !important;
}

.lh125 {
  line-height: 125px !important;
}

.lh130 {
  line-height: 130px !important;
}

.lh135 {
  line-height: 135px !important;
}

.lh140 {
  line-height: 140px !important;
}

.lh145 {
  line-height: 145px !important;
}

.lh150 {
  line-height: 150px !important;
}

/* 
    Authors     : Perry Faro & Rick van der Wolk
*/
/* margin */
.m0, .m-0, .m-a-0 {
  margin: 0;
}

.m1, .m-1, .m-a-1 {
  margin: 1px;
}

.m2, .m-2, .m-a-2 {
  margin: 2px;
}

.m3, .m-3, .m-a-3 {
  margin: 3px;
}

.m4, .m-4, .m-a-4 {
  margin: 4px;
}

.m5, .m-5, .m-a-5 {
  margin: 5px;
}

.m6, .m-6, .m-a-6 {
  margin: 6px;
}

.m7, .m-7, .m-a-7 {
  margin: 7px;
}

.m8, .m-8, .m-a-8 {
  margin: 8px;
}

.m9, .m-9, .m-a-9 {
  margin: 9px;
}

.m10, .m-10, .m-a-10 {
  margin: 10px;
}

.m11, .m-11, .m-a-11 {
  margin: 11px;
}

.m12, .m-12, .m-a-12 {
  margin: 12px;
}

.m13, .m-13, .m-a-13 {
  margin: 13px;
}

.m14, .m-14, .m-a-14 {
  margin: 14px;
}

.m15, .m-15, .m-a-15 {
  margin: 15px;
}

.m16, .m-16, .m-a-16 {
  margin: 16px;
}

.m17, .m-17, .m-a-17 {
  margin: 17px;
}

.m18, .m-18, .m-a-18 {
  margin: 18px;
}

.m19, .m-19, .m-a-19 {
  margin: 19px;
}

.m20, .m-20, .m-a-20 {
  margin: 20px;
}

.m21, .m-21, .m-a-21 {
  margin: 21px;
}

.m22, .m-22, .m-a-22 {
  margin: 22px;
}

.m23, .m-23, .m-a-23 {
  margin: 23px;
}

.m24, .m-24, .m-a-24 {
  margin: 24px;
}

.m25, .m-25, .m-a-25 {
  margin: 25px;
}

.m30, .m-30, .m-a-30 {
  margin: 30px;
}

.m35, .m-35, .m-a-35 {
  margin: 35px;
}

.m40, .m-40, .m-a-40 {
  margin: 40px;
}

.m45, .m-45, .m-a-45 {
  margin: 45px;
}

.m50, .m-50, .m-a-50 {
  margin: 50px;
}

.m55, .m-55, .m-a-55 {
  margin: 55px;
}

.m60, .m-60, .m-a-60 {
  margin: 60px;
}

.m65, .m-65, .m-a-65 {
  margin: 65px;
}

.m70, .m-70, .m-a-70 {
  margin: 70px;
}

.m75, .m-75, .m-a-75 {
  margin: 75px;
}

.m80, .m-80, .m-a-80 {
  margin: 80px;
}

.m85, .m-85, .m-a-85 {
  margin: 85px;
}

.m90, .m-90, .m-a-90 {
  margin: 90px;
}

.m95, .m-95, .m-a-95 {
  margin: 95px;
}

.m100, .m-100, .m-a-100 {
  margin: 100px;
}

.m105, .m-105, .m-a-105 {
  margin: 105px;
}

.m110, .m-110, .m-a-110 {
  margin: 110px;
}

.m115, .m-115, .m-a-115 {
  margin: 115px;
}

.m120, .m-120, .m-a-120 {
  margin: 120px;
}

.m125, .m-125, .m-a-125 {
  margin: 125px;
}

.m130, .m-130, .m-a-130 {
  margin: 130px;
}

.m135, .m-135, .m-a-135 {
  margin: 135px;
}

.m140, .m-140, .m-a-140 {
  margin: 140px;
}

.m145, .m-145, .m-a-145 {
  margin: 145px;
}

.m150, .m-150, .m-a-150 {
  margin: 150px;
}

/* margin-top */
.mt0, .m-t0, .m-t-0 {
  margin-top: 0;
}

.mt1, .m-t1, .m-t-1 {
  margin-top: 1px;
}

.mt2, .m-t2, .m-t-2 {
  margin-top: 2px;
}

.mt3, .m-t3, .m-t-3 {
  margin-top: 3px;
}

.mt4, .m-t4, .m-t-4 {
  margin-top: 4px;
}

.mt5, .m-t5, .m-t-5 {
  margin-top: 5px;
}

.mt6, .m-t6, .m-t-6 {
  margin-top: 6px;
}

.mt7, .m-t7, .m-t-7 {
  margin-top: 7px;
}

.mt8, .m-t8, .m-t-8 {
  margin-top: 8px;
}

.mt9, .m-t9, .m-t-9 {
  margin-top: 9px;
}

.mt10, .m-t10, .m-t-10 {
  margin-top: 10px;
}

.mt11, .m-t11, .m-t-11 {
  margin-top: 11px;
}

.mt12, .m-t12, .m-t-12 {
  margin-top: 12px;
}

.mt13, .m-t13, .m-t-13 {
  margin-top: 13px;
}

.mt14, .m-t14, .m-t-14 {
  margin-top: 14px;
}

.mt15, .m-t15, .m-t-15 {
  margin-top: 15px;
}

.mt16, .m-t16, .m-t-16 {
  margin-top: 16px;
}

.mt17, .m-t17, .m-t-17 {
  margin-top: 17px;
}

.mt18, .m-t18, .m-t-18 {
  margin-top: 18px;
}

.mt19, .m-t19, .m-t-19 {
  margin-top: 19px;
}

.mt20, .m-t20, .m-t-20 {
  margin-top: 20px;
}

.mt21, .m-t21, .m-t-21 {
  margin-top: 21px;
}

.mt22, .m-t22, .m-t-22 {
  margin-top: 22px;
}

.mt23, .m-t23, .m-t-23 {
  margin-top: 23px;
}

.mt24, .m-t24, .m-t-24 {
  margin-top: 24px;
}

.mt25, .m-t25, .m-t-25 {
  margin-top: 25px;
}

.mt30, .m-t30, .m-t-30 {
  margin-top: 30px;
}

.mt35, .m-t35, .m-t-35 {
  margin-top: 35px;
}

.mt40, .m-t40, .m-t-40 {
  margin-top: 40px;
}

.mt45, .m-t45, .m-t-45 {
  margin-top: 45px;
}

.mt50, .m-t50, .m-t-50 {
  margin-top: 50px;
}

.mt55, .m-t55, .m-t-55 {
  margin-top: 55px;
}

.mt60, .m-t60, .m-t-60 {
  margin-top: 60px;
}

.mt65, .m-t65, .m-t-65 {
  margin-top: 65px;
}

.mt70, .m-t70, .m-t-70 {
  margin-top: 70px;
}

.mt75, .m-t75, .m-t-75 {
  margin-top: 75px;
}

.mt80, .m-t80, .m-t-80 {
  margin-top: 80px;
}

.mt85, .m-t85, .m-t-85 {
  margin-top: 85px;
}

.mt90, .m-t90, .m-t-90 {
  margin-top: 90px;
}

.mt95, .m-t95, .m-t-95 {
  margin-top: 95px;
}

.mt100, .m-t100, .m-t-100 {
  margin-top: 100px;
}

.mt105, .m-t105, .m-t-105 {
  margin-top: 105px;
}

.mt110, .m-t110, .m-t-110 {
  margin-top: 110px;
}

.mt115, .m-t115, .m-t-115 {
  margin-top: 115px;
}

.mt120, .m-t120, .m-t-120 {
  margin-top: 120px;
}

.mt125, .m-t125, .m-t-125 {
  margin-top: 125px;
}

.mt130, .m-t130, .m-t-130 {
  margin-top: 130px;
}

.mt135, .m-t135, .m-t-135 {
  margin-top: 135px;
}

.mt140, .m-t140, .m-t-140 {
  margin-top: 140px;
}

.mt145, .m-t145, .m-t-145 {
  margin-top: 145px;
}

.mt150, .m-t150, .m-t-150 {
  margin-top: 150px;
}

/* margin-bottom */
.mb0, .m-b0, .m-b-0 {
  margin-bottom: 0;
}

.mb1, .m-b1, .m-b-1 {
  margin-bottom: 1px;
}

.mb2, .m-b2, .m-b-2 {
  margin-bottom: 2px;
}

.mb3, .m-b3, .m-b-3 {
  margin-bottom: 3px;
}

.mb4, .m-b4, .m-b-4 {
  margin-bottom: 4px;
}

.mb5, .m-b5, .m-b-5 {
  margin-bottom: 5px;
}

.mb6, .m-b6, .m-b-6 {
  margin-bottom: 6px;
}

.mb7, .m-b7, .m-b-7 {
  margin-bottom: 7px;
}

.mb8, .m-b8, .m-b-8 {
  margin-bottom: 8px;
}

.mb9, .m-b9, .m-b-9 {
  margin-bottom: 9px;
}

.mb10, .m-b10, .m-b-10 {
  margin-bottom: 10px;
}

.mb11, .m-b11, .m-b-11 {
  margin-bottom: 11px;
}

.mb12, .m-b12, .m-b-12 {
  margin-bottom: 12px;
}

.mb13, .m-b13, .m-b-13 {
  margin-bottom: 13px;
}

.mb14, .m-b14, .m-b-14 {
  margin-bottom: 14px;
}

.mb15, .m-b15, .m-b-15 {
  margin-bottom: 15px;
}

.mb16, .m-b16, .m-b-16 {
  margin-bottom: 16px;
}

.mb17, .m-b17, .m-b-17 {
  margin-bottom: 17px;
}

.mb18, .m-b18, .m-b-18 {
  margin-bottom: 18px;
}

.mb19, .m-b19, .m-b-19 {
  margin-bottom: 19px;
}

.mb20, .m-b20, .m-b-20 {
  margin-bottom: 20px;
}

.mb21, .m-b21, .m-b-21 {
  margin-bottom: 21px;
}

.mb22, .m-b22, .m-b-22 {
  margin-bottom: 22px;
}

.mb23, .m-b23, .m-b-23 {
  margin-bottom: 23px;
}

.mb24, .m-b24, .m-b-24 {
  margin-bottom: 24px;
}

.mb25, .m-b25, .m-b-25 {
  margin-bottom: 25px;
}

.mb30, .m-b30, .m-b-30 {
  margin-bottom: 30px;
}

.mb35, .m-b35, .m-b-35 {
  margin-bottom: 35px;
}

.mb40, .m-b40, .m-b-40 {
  margin-bottom: 40px;
}

.mb45, .m-b45, .m-b-45 {
  margin-bottom: 45px;
}

.mb50, .m-b50, .m-b-50 {
  margin-bottom: 50px;
}

.mb55, .m-b55, .m-b-55 {
  margin-bottom: 55px;
}

.mb60, .m-b60, .m-b-60 {
  margin-bottom: 60px;
}

.mb65, .m-b65, .m-b-65 {
  margin-bottom: 65px;
}

.mb70, .m-b70, .m-b-70 {
  margin-bottom: 70px;
}

.mb75, .m-b75, .m-b-75 {
  margin-bottom: 75px;
}

.mb80, .m-b80, .m-b-80 {
  margin-bottom: 80px;
}

.mb85, .m-b85, .m-b-85 {
  margin-bottom: 85px;
}

.mb90, .m-b90, .m-b-90 {
  margin-bottom: 90px;
}

.mb95, .m-b95, .m-b-95 {
  margin-bottom: 95px;
}

.mb100, .m-b100, .m-b-100 {
  margin-bottom: 100px;
}

.mb105, .m-b105, .m-b-105 {
  margin-bottom: 105px;
}

.mb110, .m-b110, .m-b-110 {
  margin-bottom: 110px;
}

.mb115, .m-b115, .m-b-115 {
  margin-bottom: 115px;
}

.mb120, .m-b120, .m-b-120 {
  margin-bottom: 120px;
}

.mb125, .m-b125, .m-b-125 {
  margin-bottom: 125px;
}

.mb130, .m-b130, .m-b-130 {
  margin-bottom: 130px;
}

.mb135, .m-b135, .m-b-135 {
  margin-bottom: 135px;
}

.mb140, .m-b140, .m-b-140 {
  margin-bottom: 140px;
}

.mb145, .m-b145, .m-b-145 {
  margin-bottom: 145px;
}

.mb150, .m-b150, .m-b-150 {
  margin-bottom: 150px;
}

/* margin-right */
.mr0, .m-r0, .m-r-0 {
  margin-right: 0;
}

.mr1, .m-r1, .m-r-1 {
  margin-right: 1px;
}

.mr2, .m-r2, .m-r-2 {
  margin-right: 2px;
}

.mr3, .m-r3, .m-r-3 {
  margin-right: 3px;
}

.mr4, .m-r4, .m-r-4 {
  margin-right: 4px;
}

.mr5, .m-r5, .m-r-5 {
  margin-right: 5px;
}

.mr6, .m-r6, .m-r-6 {
  margin-right: 6px;
}

.mr7, .m-r7, .m-r-7 {
  margin-right: 7px;
}

.mr8, .m-r8, .m-r-8 {
  margin-right: 8px;
}

.mr9, .m-r9, .m-r-9 {
  margin-right: 9px;
}

.mr10, .m-r10, .m-r-10 {
  margin-right: 10px;
}

.mr11, .m-r11, .m-r-11 {
  margin-right: 11px;
}

.mr12, .m-r12, .m-r-12 {
  margin-right: 12px;
}

.mr13, .m-r13, .m-r-13 {
  margin-right: 13px;
}

.mr14, .m-r14, .m-r-14 {
  margin-right: 14px;
}

.mr15, .m-r15, .m-r-15 {
  margin-right: 15px;
}

.mr16, .m-r16, .m-r-16 {
  margin-right: 16px;
}

.mr17, .m-r17, .m-r-17 {
  margin-right: 17px;
}

.mr18, .m-r18, .m-r-18 {
  margin-right: 18px;
}

.mr19, .m-r19, .m-r-19 {
  margin-right: 19px;
}

.mr20, .m-r20, .m-r-20 {
  margin-right: 20px;
}

.mr21, .m-r21, .m-r-21 {
  margin-right: 21px;
}

.mr22, .m-r22, .m-r-22 {
  margin-right: 22px;
}

.mr23, .m-r23, .m-r-23 {
  margin-right: 23px;
}

.mr24, .m-r24, .m-r-24 {
  margin-right: 24px;
}

.mr25, .m-r25, .m-r-25 {
  margin-right: 25px;
}

.mr30, .m-r30, .m-r-30 {
  margin-right: 30px;
}

.mr35, .m-r35, .m-r-35 {
  margin-right: 35px;
}

.mr40, .m-r40, .m-r-40 {
  margin-right: 40px;
}

.mr45, .m-r45, .m-r-45 {
  margin-right: 45px;
}

.mr50, .m-r50, .m-r-50 {
  margin-right: 50px;
}

.mr55, .m-r55, .m-r-55 {
  margin-right: 55px;
}

.mr60, .m-r60, .m-r-60 {
  margin-right: 60px;
}

.mr65, .m-r65, .m-r-65 {
  margin-right: 65px;
}

.mr70, .m-r70, .m-r-70 {
  margin-right: 70px;
}

.mr75, .m-r75, .m-r-75 {
  margin-right: 75px;
}

.mr80, .m-r80, .m-r-80 {
  margin-right: 80px;
}

.mr85, .m-r85, .m-r-85 {
  margin-right: 85px;
}

.mr90, .m-r90, .m-r-90 {
  margin-right: 90px;
}

.mr95, .m-r95, .m-r-95 {
  margin-right: 95px;
}

.mr100, .m-r100, .m-r-100 {
  margin-right: 100px;
}

.mr105, .m-r105, .m-r-105 {
  margin-right: 105px;
}

.mr110, .m-r110, .m-r-110 {
  margin-right: 110px;
}

.mr115, .m-r115, .m-r-115 {
  margin-right: 115px;
}

.mr120, .m-r120, .m-r-120 {
  margin-right: 120px;
}

.mr125, .m-r125, .m-r-125 {
  margin-right: 125px;
}

.mr130, .m-r130, .m-r-130 {
  margin-right: 130px;
}

.mr135, .m-r135, .m-r-135 {
  margin-right: 135px;
}

.mr140, .m-r140, .m-r-140 {
  margin-right: 140px;
}

.mr145, .m-r145, .m-r-145 {
  margin-right: 145px;
}

.mr150, .m-r150, .m-r-150 {
  margin-right: 150px;
}

/* margin-left */
.ml0, .m-l0, .m-l-0 {
  margin-left: 0;
}

.ml1, .m-l1, .m-l-1 {
  margin-left: 1px;
}

.ml2, .m-l2, .m-l-2 {
  margin-left: 2px;
}

.ml3, .m-l3, .m-l-3 {
  margin-left: 3px;
}

.ml4, .m-l4, .m-l-4 {
  margin-left: 4px;
}

.ml5, .m-l5, .m-l-5 {
  margin-left: 5px;
}

.ml6, .m-l6, .m-l-6 {
  margin-left: 6px;
}

.ml7, .m-l7, .m-l-7 {
  margin-left: 7px;
}

.ml8, .m-l8, .m-l-8 {
  margin-left: 8px;
}

.ml9, .m-l9, .m-l-9 {
  margin-left: 9px;
}

.ml10, .m-l10, .m-l-10 {
  margin-left: 10px;
}

.ml11, .m-l11, .m-l-11 {
  margin-left: 11px;
}

.ml12, .m-l12, .m-l-12 {
  margin-left: 12px;
}

.ml13, .m-l13, .m-l-13 {
  margin-left: 13px;
}

.ml14, .m-l14, .m-l-14 {
  margin-left: 14px;
}

.ml15, .m-l15, .m-l-15 {
  margin-left: 15px;
}

.ml16, .m-l16, .m-l-16 {
  margin-left: 16px;
}

.ml17, .m-l17, .m-l-17 {
  margin-left: 17px;
}

.ml18, .m-l18, .m-l-18 {
  margin-left: 18px;
}

.ml19, .m-l19, .m-l-19 {
  margin-left: 19px;
}

.ml20, .m-l20, .m-l-20 {
  margin-left: 20px;
}

.ml21, .m-l21, .m-l-21 {
  margin-left: 21px;
}

.ml22, .m-l22, .m-l-22 {
  margin-left: 22px;
}

.ml23, .m-l23, .m-l-23 {
  margin-left: 23px;
}

.ml24, .m-l24, .m-l-24 {
  margin-left: 24px;
}

.ml25, .m-l25, .m-l-25 {
  margin-left: 25px;
}

.ml30, .m-l30, .m-l-30 {
  margin-left: 30px;
}

.ml35, .m-l35, .m-l-35 {
  margin-left: 35px;
}

.ml40, .m-l40, .m-l-40 {
  margin-left: 40px;
}

.ml45, .m-l45, .m-l-45 {
  margin-left: 45px;
}

.ml50, .m-l50, .m-l-50 {
  margin-left: 50px;
}

.ml55, .m-l55, .m-l-55 {
  margin-left: 55px;
}

.ml60, .m-l60, .m-l-60 {
  margin-left: 60px;
}

.ml65, .m-l65, .m-l-65 {
  margin-left: 65px;
}

.ml70, .m-l70, .m-l-70 {
  margin-left: 70px;
}

.ml75, .m-l75, .m-l-75 {
  margin-left: 75px;
}

.ml80, .m-l80, .m-l-80 {
  margin-left: 80px;
}

.ml85, .m-l85, .m-l-85 {
  margin-left: 85px;
}

.ml90, .m-l90, .m-l-90 {
  margin-left: 90px;
}

.ml95, .m-l95, .m-l-95 {
  margin-left: 95px;
}

.ml100, .m-l100, .m-l-100 {
  margin-left: 100px;
}

.ml105, .m-l105, .m-l-105 {
  margin-left: 105px;
}

.ml110, .m-l110, .m-l-110 {
  margin-left: 110px;
}

.ml115, .m-l115, .m-l-115 {
  margin-left: 115px;
}

.ml120, .m-l120, .m-l-120 {
  margin-left: 120px;
}

.ml125, .m-l125, .m-l-125 {
  margin-left: 125px;
}

.ml130, .m-l130, .m-l-130 {
  margin-left: 130px;
}

.ml135, .m-l135, .m-l-135 {
  margin-left: 135px;
}

.ml140, .m-l140, .m-l-140 {
  margin-left: 140px;
}

.ml145, .m-l145, .m-l-145 {
  margin-left: 145px;
}

.ml150, .m-l150, .m-l-150 {
  margin-left: 150px;
}

/* 
    Authors     : Perry Faro & Rick van der Wolk
*/
.op0 {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
}

.op10 {
  opacity: 0.1;
  filter: alpha(opacity=10);
  -moz-opacity: 0.1;
  -khtml-opacity: 0.1;
}

.op20 {
  opacity: 0.2;
  filter: alpha(opacity=20);
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
}

.op30 {
  opacity: 0.3;
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
}

.op40 {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
}

.op50 {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
}

.op60 {
  opacity: 0.6;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
}

.op70 {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
}

.op80 {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
}

.op90 {
  opacity: 0.9;
  filter: alpha(opacity=90);
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
}

.op100 {
  opacity: 1.0;
  filter: alpha(opacity=100);
  -moz-opacity: 1.0;
  -khtml-opacity: 1.0;
}

/* 
    Authors     : Perry Faro & Rick van der Wolk
*/
/* padding */
.p0, .p-0, .p-a-0 {
  padding: 0;
}

.p1, .p-1, .p-a-1 {
  padding: 1px;
}

.p2, .p-2, .p-a-2 {
  padding: 2px;
}

.p3, .p-3, .p-a-3 {
  padding: 3px;
}

.p4, .p-4, .p-a-4 {
  padding: 4px;
}

.p5, .p-5, .p-a-5 {
  padding: 5px;
}

.p6, .p-6, .p-a-6 {
  padding: 6px;
}

.p7, .p-7, .p-a-7 {
  padding: 7px;
}

.p8, .p-8, .p-a-8 {
  padding: 8px;
}

.p9, .p-9, .p-a-9 {
  padding: 9px;
}

.p10, .p-10, .p-a-10 {
  padding: 10px;
}

.p11, .p-11, .p-a-11 {
  padding: 11px;
}

.p12, .p-12, .p-a-12 {
  padding: 12px;
}

.p13, .p-13, .p-a-13 {
  padding: 13px;
}

.p14, .p-14, .p-a-14 {
  padding: 14px;
}

.p15, .p-15, .p-a-15 {
  padding: 15px;
}

.p16, .p-16, .p-a-16 {
  padding: 16px;
}

.p17, .p-17, .p-a-17 {
  padding: 17px;
}

.p18, .p-18, .p-a-18 {
  padding: 18px;
}

.p19, .p-19, .p-a-19 {
  padding: 19px;
}

.p20, .p-20, .p-a-20 {
  padding: 20px;
}

.p21, .p-21, .p-a-21 {
  padding: 21px;
}

.p22, .p-22, .p-a-22 {
  padding: 22px;
}

.p23, .p-23, .p-a-23 {
  padding: 23px;
}

.p24, .p-24, .p-a-24 {
  padding: 24px;
}

.p25, .p-25, .p-a-25 {
  padding: 25px;
}

.p30, .p-30, .p-a-30 {
  padding: 30px;
}

.p35, .p-35, .p-a-35 {
  padding: 35px;
}

.p40, .p-40, .p-a-40 {
  padding: 40px;
}

.p45, .p-45, .p-a-45 {
  padding: 45px;
}

.p50, .p-50, .p-a-50 {
  padding: 50px;
}

.p55, .p-55, .p-a-55 {
  padding: 55px;
}

.p60, .p-60, .p-a-60 {
  padding: 60px;
}

.p65, .p-65, .p-a-65 {
  padding: 65px;
}

.p70, .p-70, .p-a-70 {
  padding: 70px;
}

.p75, .p-75, .p-a-75 {
  padding: 75px;
}

.p80, .p-80, .p-a-80 {
  padding: 80px;
}

.p85, .p-85, .p-a-85 {
  padding: 85px;
}

.p90, .p-90, .p-a-90 {
  padding: 90px;
}

.p95, .p-95, .p-a-95 {
  padding: 95px;
}

.p100, .p-100, .p-a-100 {
  padding: 100px;
}

.p105, .p-105, .p-a-105 {
  padding: 105px;
}

.p110, .p-110, .p-a-110 {
  padding: 110px;
}

.p115, .p-115, .p-a-115 {
  padding: 115px;
}

.p120, .p-120, .p-a-120 {
  padding: 120px;
}

.p125, .p-125, .p-a-125 {
  padding: 125px;
}

.p130, .p-130, .p-a-130 {
  padding: 130px;
}

.p135, .p-135, .p-a-135 {
  padding: 135px;
}

.p140, .p-140, .p-a-140 {
  padding: 140px;
}

.p145, .p-145, .p-a-145 {
  padding: 145px;
}

.p150, .p-150, .p-a-150 {
  padding: 150px;
}

/* padding-top */
.pt0, .p-t0, .p-t-0 {
  padding-top: 0;
}

.pt1, .p-t1, .p-t-1 {
  padding-top: 1px;
}

.pt2, .p-t2, .p-t-2 {
  padding-top: 2px;
}

.pt3, .p-t3, .p-t-3 {
  padding-top: 3px;
}

.pt4, .p-t4, .p-t-4 {
  padding-top: 4px;
}

.pt5, .p-t5, .p-t-5 {
  padding-top: 5px;
}

.pt6, .p-t6, .p-t-6 {
  padding-top: 6px;
}

.pt7, .p-t7, .p-t-7 {
  padding-top: 7px;
}

.pt8, .p-t8, .p-t-8 {
  padding-top: 8px;
}

.pt9, .p-t9, .p-t-9 {
  padding-top: 9px;
}

.pt10, .p-t10, .p-t-10 {
  padding-top: 10px;
}

.pt11, .p-t11, .p-t-11 {
  padding-top: 11px;
}

.pt12, .p-t12, .p-t-12 {
  padding-top: 12px;
}

.pt13, .p-t13, .p-t-13 {
  padding-top: 13px;
}

.pt14, .p-t14, .p-t-14 {
  padding-top: 14px;
}

.pt15, .p-t15, .p-t-15 {
  padding-top: 15px;
}

.pt16, .p-t16, .p-t-16 {
  padding-top: 16px;
}

.pt17, .p-t17, .p-t-17 {
  padding-top: 17px;
}

.pt18, .p-t18, .p-t-18 {
  padding-top: 18px;
}

.pt19, .p-t19, .p-t-19 {
  padding-top: 19px;
}

.pt20, .p-t20, .p-t-20 {
  padding-top: 20px;
}

.pt21, .p-t21, .p-t-21 {
  padding-top: 21px;
}

.pt22, .p-t22, .p-t-22 {
  padding-top: 22px;
}

.pt23, .p-t23, .p-t-23 {
  padding-top: 23px;
}

.pt24, .p-t24, .p-t-24 {
  padding-top: 24px;
}

.pt25, .p-t25, .p-t-25 {
  padding-top: 25px;
}

.pt30, .p-t30, .p-t-30 {
  padding-top: 30px;
}

.pt35, .p-t35, .p-t-35 {
  padding-top: 35px;
}

.pt40, .p-t40, .p-t-40 {
  padding-top: 40px;
}

.pt45, .p-t45, .p-t-45 {
  padding-top: 45px;
}

.pt50, .p-t50, .p-t-50 {
  padding-top: 50px;
}

.pt55, .p-t55, .p-t-55 {
  padding-top: 55px;
}

.pt60, .p-t60, .p-t-60 {
  padding-top: 60px;
}

.pt65, .p-t65, .p-t-65 {
  padding-top: 65px;
}

.pt70, .p-t70, .p-t-70 {
  padding-top: 70px;
}

.pt75, .p-t75, .p-t-75 {
  padding-top: 75px;
}

.pt80, .p-t80, .p-t-80 {
  padding-top: 80px;
}

.pt85, .p-t85, .p-t-85 {
  padding-top: 85px;
}

.pt90, .p-t90, .p-t-90 {
  padding-top: 90px;
}

.pt95, .p-t95, .p-t-95 {
  padding-top: 95px;
}

.pt100, .p-t100, .p-t-100 {
  padding-top: 100px;
}

.pt105, .p-t105, .p-t-105 {
  padding-top: 105px;
}

.pt110, .p-t110, .p-t-110 {
  padding-top: 110px;
}

.pt115, .p-t115, .p-t-115 {
  padding-top: 115px;
}

.pt120, .p-t120, .p-t-120 {
  padding-top: 120px;
}

.pt125, .p-t125, .p-t-125 {
  padding-top: 125px;
}

.pt130, .p-t130, .p-t-130 {
  padding-top: 130px;
}

.pt135, .p-t135, .p-t-135 {
  padding-top: 135px;
}

.pt140, .p-t140, .p-t-140 {
  padding-top: 140px;
}

.pt145, .p-t145, .p-t-145 {
  padding-top: 145px;
}

.pt150, .p-t150, .p-t-150 {
  padding-top: 150px;
}

/* padding-bottom */
.pb0, .p-b0, .p-b-0 {
  padding-bottop: 0;
}

.pb1, .p-b1, .p-b-1 {
  padding-bottop: 1px;
}

.pb2, .p-b2, .p-b-2 {
  padding-bottop: 2px;
}

.pb3, .p-b3, .p-b-3 {
  padding-bottop: 3px;
}

.pb4, .p-b4, .p-b-4 {
  padding-bottop: 4px;
}

.pb5, .p-b5, .p-b-5 {
  padding-bottop: 5px;
}

.pb6, .p-b6, .p-b-6 {
  padding-bottop: 6px;
}

.pb7, .p-b7, .p-b-7 {
  padding-bottop: 7px;
}

.pb8, .p-b8, .p-b-8 {
  padding-bottop: 8px;
}

.pb9, .p-b9, .p-b-9 {
  padding-bottop: 9px;
}

.pb10, .p-b10, .p-b-10 {
  padding-bottop: 10px;
}

.pb11, .p-b11, .p-b-11 {
  padding-bottop: 11px;
}

.pb12, .p-b12, .p-b-12 {
  padding-bottop: 12px;
}

.pb13, .p-b13, .p-b-13 {
  padding-bottop: 13px;
}

.pb14, .p-b14, .p-b-14 {
  padding-bottop: 14px;
}

.pb15, .p-b15, .p-b-15 {
  padding-bottop: 15px;
}

.pb16, .p-b16, .p-b-16 {
  padding-bottop: 16px;
}

.pb17, .p-b17, .p-b-17 {
  padding-bottop: 17px;
}

.pb18, .p-b18, .p-b-18 {
  padding-bottop: 18px;
}

.pb19, .p-b19, .p-b-19 {
  padding-bottop: 19px;
}

.pb20, .p-b20, .p-b-20 {
  padding-bottop: 20px;
}

.pb21, .p-b21, .p-b-21 {
  padding-bottop: 21px;
}

.pb22, .p-b22, .p-b-22 {
  padding-bottop: 22px;
}

.pb23, .p-b23, .p-b-23 {
  padding-bottop: 23px;
}

.pb24, .p-b24, .p-b-24 {
  padding-bottop: 24px;
}

.pb25, .p-b25, .p-b-25 {
  padding-bottop: 25px;
}

.pb30, .p-b30, .p-b-30 {
  padding-bottop: 30px;
}

.pb35, .p-b35, .p-b-35 {
  padding-bottop: 35px;
}

.pb40, .p-b40, .p-b-40 {
  padding-bottop: 40px;
}

.pb45, .p-b45, .p-b-45 {
  padding-bottop: 45px;
}

.pb50, .p-b50, .p-b-50 {
  padding-bottop: 50px;
}

.pb55, .p-b55, .p-b-55 {
  padding-bottop: 55px;
}

.pb60, .p-b60, .p-b-60 {
  padding-bottop: 60px;
}

.pb65, .p-b65, .p-b-65 {
  padding-bottop: 65px;
}

.pb70, .p-b70, .p-b-70 {
  padding-bottop: 70px;
}

.pb75, .p-b75, .p-b-75 {
  padding-bottop: 75px;
}

.pb80, .p-b80, .p-b-80 {
  padding-bottop: 80px;
}

.pb85, .p-b85, .p-b-85 {
  padding-bottop: 85px;
}

.pb90, .p-b90, .p-b-90 {
  padding-bottop: 90px;
}

.pb95, .p-b95, .p-b-95 {
  padding-bottop: 95px;
}

.pb100, .p-b100, .p-b-100 {
  padding-bottop: 100px;
}

.pb105, .p-b105, .p-b-105 {
  padding-bottop: 105px;
}

.pb110, .p-b110, .p-b-110 {
  padding-bottop: 110px;
}

.pb115, .p-b115, .p-b-115 {
  padding-bottop: 115px;
}

.pb120, .p-b120, .p-b-120 {
  padding-bottop: 120px;
}

.pb125, .p-b125, .p-b-125 {
  padding-bottop: 125px;
}

.pb130, .p-b130, .p-b-130 {
  padding-bottop: 130px;
}

.pb135, .p-b135, .p-b-135 {
  padding-bottop: 135px;
}

.pb140, .p-b140, .p-b-140 {
  padding-bottop: 140px;
}

.pb145, .p-b145, .p-b-145 {
  padding-bottop: 145px;
}

.pb150, .p-b150, .p-b-150 {
  padding-bottop: 150px;
}

/* padding-right */
.pr0, .p-r0, .p-r-0 {
  padding-right: 0;
}

.pr1, .p-r1, .p-r-1 {
  padding-right: 1px;
}

.pr2, .p-r2, .p-r-2 {
  padding-right: 2px;
}

.pr3, .p-r3, .p-r-3 {
  padding-right: 3px;
}

.pr4, .p-r4, .p-r-4 {
  padding-right: 4px;
}

.pr5, .p-r5, .p-r-5 {
  padding-right: 5px;
}

.pr6, .p-r6, .p-r-6 {
  padding-right: 6px;
}

.pr7, .p-r7, .p-r-7 {
  padding-right: 7px;
}

.pr8, .p-r8, .p-r-8 {
  padding-right: 8px;
}

.pr9, .p-r9, .p-r-9 {
  padding-right: 9px;
}

.pr10, .p-r10, .p-r-10 {
  padding-right: 10px;
}

.pr11, .p-r11, .p-r-11 {
  padding-right: 11px;
}

.pr12, .p-r12, .p-r-12 {
  padding-right: 12px;
}

.pr13, .p-r13, .p-r-13 {
  padding-right: 13px;
}

.pr14, .p-r14, .p-r-14 {
  padding-right: 14px;
}

.pr15, .p-r15, .p-r-15 {
  padding-right: 15px;
}

.pr16, .p-r16, .p-r-16 {
  padding-right: 16px;
}

.pr17, .p-r17, .p-r-17 {
  padding-right: 17px;
}

.pr18, .p-r18, .p-r-18 {
  padding-right: 18px;
}

.pr19, .p-r19, .p-r-19 {
  padding-right: 19px;
}

.pr20, .p-r20, .p-r-20 {
  padding-right: 20px;
}

.pr21, .p-r21, .p-r-21 {
  padding-right: 21px;
}

.pr22, .p-r22, .p-r-22 {
  padding-right: 22px;
}

.pr23, .p-r23, .p-r-23 {
  padding-right: 23px;
}

.pr24, .p-r24, .p-r-24 {
  padding-right: 24px;
}

.pr25, .p-r25, .p-r-25 {
  padding-right: 25px;
}

.pr30, .p-r30, .p-r-30 {
  padding-right: 30px;
}

.pr35, .p-r35, .p-r-35 {
  padding-right: 35px;
}

.pr40, .p-r40, .p-r-40 {
  padding-right: 40px;
}

.pr45, .p-r45, .p-r-45 {
  padding-right: 45px;
}

.pr50, .p-r50, .p-r-50 {
  padding-right: 50px;
}

.pr55, .p-r55, .p-r-55 {
  padding-right: 55px;
}

.pr60, .p-r60, .p-r-60 {
  padding-right: 60px;
}

.pr65, .p-r65, .p-r-65 {
  padding-right: 65px;
}

.pr70, .p-r70, .p-r-70 {
  padding-right: 70px;
}

.pr75, .p-r75, .p-r-75 {
  padding-right: 75px;
}

.pr80, .p-r80, .p-r-80 {
  padding-right: 80px;
}

.pr85, .p-r85, .p-r-85 {
  padding-right: 85px;
}

.pr90, .p-r90, .p-r-90 {
  padding-right: 90px;
}

.pr95, .p-r95, .p-r-95 {
  padding-right: 95px;
}

.pr100, .p-r100, .p-r-100 {
  padding-right: 100px;
}

.pr105, .p-r105, .p-r-105 {
  padding-right: 105px;
}

.pr110, .p-r110, .p-r-110 {
  padding-right: 110px;
}

.pr115, .p-r115, .p-r-115 {
  padding-right: 115px;
}

.pr120, .p-r120, .p-r-120 {
  padding-right: 120px;
}

.pr125, .p-r125, .p-r-125 {
  padding-right: 125px;
}

.pr130, .p-r130, .p-r-130 {
  padding-right: 130px;
}

.pr135, .p-r135, .p-r-135 {
  padding-right: 135px;
}

.pr140, .p-r140, .p-r-140 {
  padding-right: 140px;
}

.pr145, .p-r145, .p-r-145 {
  padding-right: 145px;
}

.pr150, .p-r150, .p-r-150 {
  padding-right: 150px;
}

/* padding-left */
.pl0, .p-l0, .p-l-0 {
  padding-left: 0;
}

.pl1, .p-l1, .p-l-1 {
  padding-left: 1px;
}

.pl2, .p-l2, .p-l-2 {
  padding-left: 2px;
}

.pl3, .p-l3, .p-l-3 {
  padding-left: 3px;
}

.pl4, .p-l4, .p-l-4 {
  padding-left: 4px;
}

.pl5, .p-l5, .p-l-5 {
  padding-left: 5px;
}

.pl6, .p-l6, .p-l-6 {
  padding-left: 6px;
}

.pl7, .p-l7, .p-l-7 {
  padding-left: 7px;
}

.pl8, .p-l8, .p-l-8 {
  padding-left: 8px;
}

.pl9, .p-l9, .p-l-9 {
  padding-left: 9px;
}

.pl10, .p-l10, .p-l-10 {
  padding-left: 10px;
}

.pl11, .p-l11, .p-l-11 {
  padding-left: 11px;
}

.pl12, .p-l12, .p-l-12 {
  padding-left: 12px;
}

.pl13, .p-l13, .p-l-13 {
  padding-left: 13px;
}

.pl14, .p-l14, .p-l-14 {
  padding-left: 14px;
}

.pl15, .p-l15, .p-l-15 {
  padding-left: 15px;
}

.pl16, .p-l16, .p-l-16 {
  padding-left: 16px;
}

.pl17, .p-l17, .p-l-17 {
  padding-left: 17px;
}

.pl18, .p-l18, .p-l-18 {
  padding-left: 18px;
}

.pl19, .p-l19, .p-l-19 {
  padding-left: 19px;
}

.pl20, .p-l20, .p-l-20 {
  padding-left: 20px;
}

.pl21, .p-l21, .p-l-21 {
  padding-left: 21px;
}

.pl22, .p-l22, .p-l-22 {
  padding-left: 22px;
}

.pl23, .p-l23, .p-l-23 {
  padding-left: 23px;
}

.pl24, .p-l24, .p-l-24 {
  padding-left: 24px;
}

.pl25, .p-l25, .p-l-25 {
  padding-left: 25px;
}

.pl30, .p-l30, .p-l-30 {
  padding-left: 30px;
}

.pl35, .p-l35, .p-l-35 {
  padding-left: 35px;
}

.pl40, .p-l40, .p-l-40 {
  padding-left: 40px;
}

.pl45, .p-l45, .p-l-45 {
  padding-left: 45px;
}

.pl50, .p-l50, .p-l-50 {
  padding-left: 50px;
}

.pl55, .p-l55, .p-l-55 {
  padding-left: 55px;
}

.pl60, .p-l60, .p-l-60 {
  padding-left: 60px;
}

.pl65, .p-l65, .p-l-65 {
  padding-left: 65px;
}

.pl70, .p-l70, .p-l-70 {
  padding-left: 70px;
}

.pl75, .p-l75, .p-l-75 {
  padding-left: 75px;
}

.pl80, .p-l80, .p-l-80 {
  padding-left: 80px;
}

.pl85, .p-l85, .p-l-85 {
  padding-left: 85px;
}

.pl90, .p-l90, .p-l-90 {
  padding-left: 90px;
}

.pl95, .p-l95, .p-l-95 {
  padding-left: 95px;
}

.pl100, .p-l100, .p-l-100 {
  padding-left: 100px;
}

.pl105, .p-l105, .p-l-105 {
  padding-left: 105px;
}

.pl110, .p-l110, .p-l-110 {
  padding-left: 110px;
}

.pl115, .p-l115, .p-l-115 {
  padding-left: 115px;
}

.pl120, .p-l120, .p-l-120 {
  padding-left: 120px;
}

.pl125, .p-l125, .p-l-125 {
  padding-left: 125px;
}

.pl130, .p-l130, .p-l-130 {
  padding-left: 130px;
}

.pl135, .p-l135, .p-l-135 {
  padding-left: 135px;
}

.pl140, .p-l140, .p-l-140 {
  padding-left: 140px;
}

.pl145, .p-l145, .p-l-145 {
  padding-left: 145px;
}

.pl150, .p-l150, .p-l-150 {
  padding-left: 150px;
}

/* 
    Authors     : Perry Faro & Rick van der Wolk
*/
.pa, .absolute, .position-absolute {
  position: absolute;
}

.pf, .fixed, .position-fixed {
  position: fixed;
}

.pfb, .fixed-bottom, .position-fixed-bottom {
  bottom: 0;
  left: 0;
}

.pft, .fixed-top, .position-fixed-top {
  top: 0;
  left: 0;
}

.pr, .relative, .position-relative {
  position: relative;
}

.ps, .static, .position-static {
  position: static;
}

/* 
    Authors     : Perry Faro & Rick van der Wolk
*/
/* top */
.t0 {
  top: 0;
}

.t1 {
  top: 1px;
}

.t2 {
  top: 2px;
}

.t3 {
  top: 3px;
}

.t4 {
  top: 4px;
}

.t5 {
  top: 5px;
}

.t6 {
  top: 6px;
}

.t7 {
  top: 7px;
}

.t8 {
  top: 8px;
}

.t9 {
  top: 9px;
}

.t10 {
  top: 10px;
}

.t11 {
  top: 11px;
}

.t12 {
  top: 12px;
}

.t13 {
  top: 13px;
}

.t14 {
  top: 14px;
}

.t15 {
  top: 15px;
}

.t16 {
  top: 16px;
}

.t17 {
  top: 17px;
}

.t18 {
  top: 18px;
}

.t19 {
  top: 19px;
}

.t20 {
  top: 20px;
}

.t21 {
  top: 21px;
}

.t22 {
  top: 22px;
}

.t23 {
  top: 23px;
}

.t24 {
  top: 24px;
}

.t25 {
  top: 25px;
}

.t30 {
  top: 30px;
}

.t35 {
  top: 35px;
}

.t40 {
  top: 40px;
}

.t45 {
  top: 45px;
}

.t50 {
  top: 50px;
}

.t55 {
  top: 55px;
}

.t60 {
  top: 60px;
}

.t65 {
  top: 65px;
}

.t70 {
  top: 70px;
}

.t75 {
  top: 75px;
}

.t80 {
  top: 80px;
}

.t85 {
  top: 85px;
}

.t90 {
  top: 90px;
}

.t95 {
  top: 95px;
}

.t100 {
  top: 100px;
}

.t105 {
  top: 105px;
}

.t110 {
  top: 110px;
}

.t115 {
  top: 115px;
}

.t120 {
  top: 120px;
}

.t125 {
  top: 125px;
}

.t130 {
  top: 130px;
}

.t135 {
  top: 135px;
}

.t140 {
  top: 140px;
}

.t145 {
  top: 145px;
}

.t150 {
  top: 150px;
}

/* bottom */
.b0 {
  bottom: 0;
}

.b1 {
  bottom: 1px;
}

.b2 {
  bottom: 2px;
}

.b3 {
  bottom: 3px;
}

.b4 {
  bottom: 4px;
}

.b5 {
  bottom: 5px;
}

.b6 {
  bottom: 6px;
}

.b7 {
  bottom: 7px;
}

.b8 {
  bottom: 8px;
}

.b9 {
  bottom: 9px;
}

.b10 {
  bottom: 10px;
}

.b11 {
  bottom: 11px;
}

.b12 {
  bottom: 12px;
}

.b13 {
  bottom: 13px;
}

.b14 {
  bottom: 14px;
}

.b15 {
  bottom: 15px;
}

.b16 {
  bottom: 16px;
}

.b17 {
  bottom: 17px;
}

.b18 {
  bottom: 18px;
}

.b19 {
  bottom: 19px;
}

.b20 {
  bottom: 20px;
}

.b21 {
  bottom: 21px;
}

.b22 {
  bottom: 22px;
}

.b23 {
  bottom: 23px;
}

.b24 {
  bottom: 24px;
}

.b25 {
  bottom: 25px;
}

.b30 {
  bottom: 30px;
}

.b35 {
  bottom: 35px;
}

.b40 {
  bottom: 40px;
}

.b45 {
  bottom: 45px;
}

.b50 {
  bottom: 50px;
}

.b55 {
  bottom: 55px;
}

.b60 {
  bottom: 60px;
}

.b65 {
  bottom: 65px;
}

.b70 {
  bottom: 70px;
}

.b75 {
  bottom: 75px;
}

.b80 {
  bottom: 80px;
}

.b85 {
  bottom: 85px;
}

.b90 {
  bottom: 90px;
}

.b95 {
  bottom: 95px;
}

.b100 {
  bottom: 100px;
}

.b105 {
  bottom: 105px;
}

.b110 {
  bottom: 110px;
}

.b115 {
  bottom: 115px;
}

.b120 {
  bottom: 120px;
}

.b125 {
  bottom: 125px;
}

.b130 {
  bottom: 130px;
}

.b135 {
  bottom: 135px;
}

.b140 {
  bottom: 140px;
}

.b145 {
  bottom: 145px;
}

.b150 {
  bottom: 150px;
}

/* left */
.l0 {
  left: 0;
}

.l1 {
  left: 1px;
}

.l2 {
  left: 2px;
}

.l3 {
  left: 3px;
}

.l4 {
  left: 4px;
}

.l5 {
  left: 5px;
}

.l6 {
  left: 6px;
}

.l7 {
  left: 7px;
}

.l8 {
  left: 8px;
}

.l9 {
  left: 9px;
}

.l10 {
  left: 10px;
}

.l11 {
  left: 11px;
}

.l12 {
  left: 12px;
}

.l13 {
  left: 13px;
}

.l14 {
  left: 14px;
}

.l15 {
  left: 15px;
}

.l16 {
  left: 16px;
}

.l17 {
  left: 17px;
}

.l18 {
  left: 18px;
}

.l19 {
  left: 19px;
}

.l20 {
  left: 20px;
}

.l21 {
  left: 21px;
}

.l22 {
  left: 22px;
}

.l23 {
  left: 23px;
}

.l24 {
  left: 24px;
}

.l25 {
  left: 25px;
}

.l30 {
  left: 30px;
}

.l35 {
  left: 35px;
}

.l40 {
  left: 40px;
}

.l45 {
  left: 45px;
}

.l50 {
  left: 50px;
}

.l55 {
  left: 55px;
}

.l60 {
  left: 60px;
}

.l65 {
  left: 65px;
}

.l70 {
  left: 70px;
}

.l75 {
  left: 75px;
}

.l80 {
  left: 80px;
}

.l85 {
  left: 85px;
}

.l90 {
  left: 90px;
}

.l95 {
  left: 95px;
}

.l100 {
  left: 100px;
}

.l105 {
  left: 105px;
}

.l110 {
  left: 110px;
}

.l115 {
  left: 115px;
}

.l120 {
  left: 120px;
}

.l125 {
  left: 125px;
}

.l130 {
  left: 130px;
}

.l135 {
  left: 135px;
}

.l140 {
  left: 140px;
}

.l145 {
  left: 145px;
}

.l150 {
  left: 150px;
}

/* right */
.r0 {
  right: 0;
}

.r1 {
  right: 1px;
}

.r2 {
  right: 2px;
}

.r3 {
  right: 3px;
}

.r4 {
  right: 4px;
}

.r5 {
  right: 5px;
}

.r6 {
  right: 6px;
}

.r7 {
  right: 7px;
}

.r8 {
  right: 8px;
}

.r9 {
  right: 9px;
}

.r10 {
  right: 10px;
}

.r11 {
  right: 11px;
}

.r12 {
  right: 12px;
}

.r13 {
  right: 13px;
}

.r14 {
  right: 14px;
}

.r15 {
  right: 15px;
}

.r16 {
  right: 16px;
}

.r17 {
  right: 17px;
}

.r18 {
  right: 18px;
}

.r19 {
  right: 19px;
}

.r20 {
  right: 20px;
}

.r21 {
  right: 21px;
}

.r22 {
  right: 22px;
}

.r23 {
  right: 23px;
}

.r24 {
  right: 24px;
}

.r25 {
  right: 25px;
}

.r30 {
  right: 30px;
}

.r35 {
  right: 35px;
}

.r40 {
  right: 40px;
}

.r45 {
  right: 45px;
}

.r50 {
  right: 50px;
}

.r55 {
  right: 55px;
}

.r60 {
  right: 60px;
}

.r65 {
  right: 65px;
}

.r70 {
  right: 70px;
}

.r75 {
  right: 75px;
}

.r80 {
  right: 80px;
}

.r85 {
  right: 85px;
}

.r90 {
  right: 90px;
}

.r95 {
  right: 95px;
}

.r100 {
  right: 100px;
}

.r105 {
  right: 105px;
}

.r110 {
  right: 110px;
}

.r115 {
  right: 115px;
}

.r120 {
  right: 120px;
}

.r125 {
  right: 125px;
}

.r130 {
  right: 130px;
}

.r135 {
  right: 135px;
}

.r140 {
  right: 140px;
}

.r145 {
  right: 145px;
}

.r150 {
  right: 150px;
}

/* 
    Authors     : Perry Faro & Rick van der Wolk
*/
.z0 {
  z-index: 0;
}

.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

.z3 {
  z-index: 3;
}

.z4 {
  z-index: 4;
}

.z5 {
  z-index: 5;
}

.z6 {
  z-index: 6;
}

.z7 {
  z-index: 7;
}

.z8 {
  z-index: 8;
}

.z9 {
  z-index: 9;
}

.z10 {
  z-index: 10;
}

.z11 {
  z-index: 11;
}

.z12 {
  z-index: 12;
}

.z13 {
  z-index: 13;
}

.z14 {
  z-index: 14;
}

.z15 {
  z-index: 15;
}

.z16 {
  z-index: 16;
}

.z17 {
  z-index: 17;
}

.z18 {
  z-index: 18;
}

.z19 {
  z-index: 19;
}

.z20 {
  z-index: 20;
}

.z21 {
  z-index: 21;
}

.z22 {
  z-index: 22;
}

.z23 {
  z-index: 23;
}

.z24 {
  z-index: 24;
}

.z25 {
  z-index: 25;
}

.z30 {
  z-index: 30;
}

.z35 {
  z-index: 35;
}

.z40 {
  z-index: 40;
}

.z45 {
  z-index: 45;
}

.z50 {
  z-index: 50;
}

.z55 {
  z-index: 55;
}

.z60 {
  z-index: 60;
}

.z65 {
  z-index: 65;
}

.z70 {
  z-index: 70;
}

.z75 {
  z-index: 75;
}

.z80 {
  z-index: 80;
}

.z85 {
  z-index: 85;
}

.z90 {
  z-index: 90;
}

.z95 {
  z-index: 95;
}

.z100 {
  z-index: 100;
}

.z105 {
  z-index: 105;
}

.z110 {
  z-index: 110;
}

.z115 {
  z-index: 115;
}

.z120 {
  z-index: 120;
}

.z125 {
  z-index: 125;
}

.z130 {
  z-index: 130;
}

.z135 {
  z-index: 135;
}

.z140 {
  z-index: 140;
}

.z145 {
  z-index: 145;
}

.z150 {
  z-index: 150;
}

.z200 {
  z-index: 200;
}

.z300 {
  z-index: 300;
}

.z400 {
  z-index: 400;
}

.z500 {
  z-index: 500;
}

.z600 {
  z-index: 600;
}

.z700 {
  z-index: 700;
}

.z800 {
  z-index: 800;
}

.z900 {
  z-index: 900;
}

.z1000 {
  z-index: 1000;
}

.z1100 {
  z-index: 1100;
}

.z1200 {
  z-index: 1200;
}

.z1300 {
  z-index: 1300;
}

.z1400 {
  z-index: 1400;
}

.z1500 {
  z-index: 1500;
}

.z1600 {
  z-index: 1600;
}

.z1700 {
  z-index: 1700;
}

.z1800 {
  z-index: 1800;
}

.z1900 {
  z-index: 1900;
}

.z2000 {
  z-index: 2000;
}

.z2100 {
  z-index: 2100;
}

.z2200 {
  z-index: 2200;
}

.z2300 {
  z-index: 2300;
}

.z2400 {
  z-index: 2400;
}

.z2500 {
  z-index: 2500;
}

.z2600 {
  z-index: 2600;
}

.z2700 {
  z-index: 2700;
}

.z2800 {
  z-index: 2800;
}

.z2900 {
  z-index: 2900;
}

.z3000 {
  z-index: 3000;
}

.z3100 {
  z-index: 3100;
}

.z3200 {
  z-index: 3200;
}

.z3300 {
  z-index: 3300;
}

.z3400 {
  z-index: 3400;
}

.z3500 {
  z-index: 3500;
}

.z3600 {
  z-index: 3600;
}

.z3700 {
  z-index: 3700;
}

.z3800 {
  z-index: 3800;
}

.z3900 {
  z-index: 3900;
}

.z4000 {
  z-index: 4000;
}

.z4100 {
  z-index: 4100;
}

.z4200 {
  z-index: 4200;
}

.z4300 {
  z-index: 4300;
}

.z4400 {
  z-index: 4400;
}

.z4500 {
  z-index: 4500;
}

.z4600 {
  z-index: 4600;
}

.z4700 {
  z-index: 4700;
}

.z4800 {
  z-index: 4800;
}

.z4900 {
  z-index: 4900;
}

.z5000 {
  z-index: 5000;
}

.z6000 {
  z-index: 6000;
}

.z6100 {
  z-index: 6100;
}

.z6200 {
  z-index: 6200;
}

.z6300 {
  z-index: 6300;
}

.z6400 {
  z-index: 6400;
}

.z6500 {
  z-index: 6500;
}

.z6600 {
  z-index: 6600;
}

.z6700 {
  z-index: 6700;
}

.z6800 {
  z-index: 6800;
}

.z6900 {
  z-index: 6900;
}

.z7000 {
  z-index: 7000;
}

.z7100 {
  z-index: 7100;
}

.z7200 {
  z-index: 7200;
}

.z7300 {
  z-index: 7300;
}

.z7400 {
  z-index: 7400;
}

.z7500 {
  z-index: 7500;
}

.z7600 {
  z-index: 7600;
}

.z7700 {
  z-index: 7700;
}

.z7800 {
  z-index: 7800;
}

.z7900 {
  z-index: 7900;
}

.z8000 {
  z-index: 8000;
}

.z8100 {
  z-index: 8100;
}

.z8200 {
  z-index: 8200;
}

.z8300 {
  z-index: 8300;
}

.z8400 {
  z-index: 8400;
}

.z8500 {
  z-index: 8500;
}

.z8600 {
  z-index: 8600;
}

.z8700 {
  z-index: 8700;
}

.z8800 {
  z-index: 8800;
}

.z8900 {
  z-index: 8900;
}

.z9000 {
  z-index: 9000;
}

.z9100 {
  z-index: 9100;
}

.z9200 {
  z-index: 9200;
}

.z9300 {
  z-index: 9300;
}

.z9400 {
  z-index: 9400;
}

.z9500 {
  z-index: 9500;
}

.z9600 {
  z-index: 9600;
}

.z9700 {
  z-index: 9700;
}

.z9800 {
  z-index: 9800;
}

.z9900 {
  z-index: 9900;
}

.z10000 {
  z-index: 10000;
}
